/**
* @UD BRANDING CSS
*
* Defines all of the OCM approved structural and layout branding styles for
* page header and footer used on www.udel.edu static web sites.
*
* This file loads on all devices and platforms.
*
*
* @version      3.0.5
* @since        2.0.0
* @author       Christopher Leonard - University of Delaware | IT CS&S
* @license      MIT License
* @see          https://philipwalton.github.io/solved-by-flexbox/demos/grids/
*/
/*---------------------------------------------------------------------------------------
[Table of contents]
  1. @HEADER ELEMENTS
  2. @FOOTER ELEMENTS
  3. @MEDIA QUERIES - HEADER
  4. @MEDIA QUERIES - FOOTER
---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------
  1. @HEADER ELEMENTS
    a. safari fix for font weight
       https://stackoverflow.com/questions/21278020/font-weight-turns-lighter-on-mac-safari
---------------------------------------------------------------------------------------*/
.ud-norm--header {
  background-color:   hsl(214, 100%, 32%);
/*   background-image: url("https://www1.udel.edu/chris/!projects/ITHF/itdev/assets/img/logos/img-udseal.png"); */
  background-image: url("https://www1.udel.edu/chris/!projects/ITHF/itdev/assets/img/logos/img-udseal.svg");

  background-position: center 0;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  overflow: visible;
  border-bottom: 3px solid var(--ud-yellow);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  width:100%;
  height:145px;
  will-change: scaleX();
  transform: translateZ(0); /* IE 11 - all Edge will-change hack */
  z-index: 100;
  pointer-events: none;
}

[role="banner"] a:hover {
  text-decoration: none;
  background-color: transparent;
}
[role="banner"] a {
  font-size:.1rem;
  color:var(--white);
  overflow:visible;
  border-bottom:none;
  margin: 0;
  display: -webkit-inline-grid;
  -webkit-align-self: center;
  display: inline-grid;
  align-self: center;
  pointer-events: auto;
  z-index: 101;
}
[role="banner"] img {
  border: 0 none;
  padding: 0;
  background: none;
  color: var(--white);
  width:218px;
  height:91px;
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);;
}
/*------------------------------------------------------------------
  * 3. @MEDIA QUERIES - HEADER
  *   min: 61.250em / 980px
  *   min: 20.000em / 320px
  *   max: 61.188em / 979px
  *   min: 48.938em / 734px
  *   max: 61.188em / 979px
  *   min: 48.938em / 734px
  *   min: 61.250em / 980px
-------------------------------------------------------------------*/
@media only screen and (min-width: 61.250em) { /* 980 */
  /* [role="banner"] img {
    width:218px;
    height:91px;
  } */
}
@media only screen and (min-width: 20em) and (max-width: 61.188em) { /* 979 */
 /*  [role="banner"] {
    height: auto;
  }
  [role="banner"] img {
    width: 155px;
    height:64.7px;

  } */
}
@media only screen and (min-width: 48.938em) and (max-width: 61.188em) {
  /* [role="banner"] {
    background-size: 65% auto;
  } */
}
@media only screen and (max-width: 767px) {
  .ud-norm--header:not(#ud_primary_logo) {
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
   /*  height:65px; */ /* 65 is 46.43% of 140 */
  }
  .item {
    -webkit-transform: scale(1, .4643);
    transform: scale(1, .4643);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  .ud-norm--header #ud_primary_logo {
-webkit-transform: scale(.50, 1);
    transform: scale(.50, 1); /* 35 is 38.46% of 91 */
  }
  #ud-circle--logo {
    -webkit-transform: scale(.7700);
    transform: scale(.7700);
  }
}
/*------------------------------------------------------------------
  2. @FOOTER ELEMENTS
-------------------------------------------------------------------*/

svg.icon {
  color: var(--ud-link);
}
svg.icon:hover {
  color: var(--white);
  fill: currentColor;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 1.75rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
a.ud-icon:hover {
  background-color: transparent;
}
/* a.ud-icon:hover svg .fill--ltblue,
a.ud-icon:hover {
  background-color:hsl(197, 100%, 44%);
  color: var(--white);
  fill: currentColor;
} */

.ud-norm--footer {
  border-top: 3px solid var(--ud-yellow);
}
.ud-norm--footer a,
.ud-norm--footer a img {
  border-bottom:none;
}

/** IMAGES */
#ud-circle--logo {
  width: 130px;
  height: 130px;
}
#ud-dare--logo {
  width: 186px;
  height: 130px;
}

/** SOCIAL CSS */
.ud-ft--soc ul {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-align-self: center;
  align-self: center;
}
.ud-ft--soc li,
.ud-ft--soc li a {
  width: 50px;
  height: 50px;
  text-align: center;
}
.ud-ft--soc a {
  width: 50px;
  height: 50px;
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ud-ft--leg ul,
.ud-ft--soc ul {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 0;
  list-style: none;
}

/** LEGAL CSS */
.ud-ft--leg {
  background-color:  var(--light-gray);
  height: 32px;
}
.ud-ft--leg ul {
  -webkit-align-content: center;
  align-self: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.ud-ft--leg li:not(:first-child) {
  margin-left: calc(1rem - 2px);
}
.ud-ft--leg li {
  font-family: 'Noto Sans Mono', sans-serif;
  font-weight: 400;
  font-size: calc(11.3333px + 0.133333vw);
  letter-spacing: .012rem;
}

.ud-ft--leg li a {
  color: var(--ud-link);
}
.ud-ft--leg li a:hover {
  background-color: var(--ud-link);
  color: var(--white);
  text-decoration: none;
}
@media screen and (max-width: 699px) {
  .ud-flex > div.ud-ft--dare,
  .ud-flex > div.ud-ft--soc {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-basis: 100%;
    justify-content: center;
    margin: 0 auto;
    flex-basis: 100%;
  }
  footer > div:first-child {
    display: inline-block !important;
  }
}


