/**
* @FLEXBOX CSS
*
* Uses flexbox layout concepts. Based on Solved by Flexbox by Phillip Walton.
*
* This file loads on all devices and platforms.
*
*
* @version      1.0.0
* @author       Christopher Leonard - University of Delaware | IT CS&S
* @license      MIT License
* @see          https://philipwalton.github.io/solved-by-flexbox/demos/grids/
* @link         https://docs.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-developer/compatibility/dn265027(v=vs.85)
* @link         https://developer.apple.com/library/content/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/doc/uid/TP30001266--webkit-box-orient
*/
/*------------------------------------------------------------------
  1. @FLEXBOX
-------------------------------------------------------------------*/
.ud-flex {
  display: -webkit-flex;
  display: flex;
}
/* direction */
.ud-flex--column {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.ud-flex--row {
  -webkit-flex-direction: row;
  flex-direction: row;
}

/** justify content justify = column */
.ud-flex--jcc{
  justify-content: center;
}
.ud-flex--jcsa {
  justify-content: space-around
}
.ud-flex--jcsb {
  justify-content: space-between
}
.ud-flex--jcse {
  justify-content: space-evenly
}
.ud-flex--jcfs {
  justify-content: flex-start
}
.ud-flex--jcfe {
  justify-content: flex-end
}
/** justify items */
.ud-flex--jic{
  justify-items: center;
}
.ud-flex--jisa {
  justify-items: space-around
}
.ud-flex--jisb {
  justify-items: space-between
}
.ud-flex--jifs {
  justify-items: flex-start
}
.ud-flex--jife {
  justify-items: flex-end
}
/** align-content align = row  */
.ud-flex--acc{
  -webkit-align-content: center;
  align-content: center;
}
.ud-flex--acsa {
  -webkit-align-content: space-around;
  align-content: space-around;
}
.ud-flex--acsb {
  -webkit-align-content: space-between;
  align-content: space-between;
}
.ud-flex--acfs {
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
.ud-flex--acfe {
  -webkit-align-content: flex-end;
  align-content: flex-end;
}
/* align items */
.ud-flex--aic{
  -webkit-align-items: center;
  align-items: center;
}
.ud-flex--aisa {
  -webkit-align-items: space-around;
  align-items: space-around;
}
.ud-flex--aisb {
  -webkit-align-items: space-between;
  align-items: space-between;
}
.ud-flex--aifs {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.ud-flex--aife {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.ud-flex--asfs {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.ud-flex--asc {
  -webkit-align-self: center;
  align-self: center;
}
.ud-flex--fit { /* flex:  is shorthand for flex-grow, flex-shrink, flex-basis */
  -webkit-flex: 1;
  flex: 1;
}
.ud-flex--fbfull {
  -webkit-flex-basis: 100%; /* initial length of flex item */
  flex-basis: 100%;
}
.ud-flex--fbhalf {
  -webkit-flex-basis: 50%; /* initial length of flex item */
  flex-basis: 50%;
}
.ud-flex--grow {
  -webkit-flex-grow: 3; /* will grow 3x the other flex items */
  flex-grow: 3;
}
.ud-flex--shrink {
  -webkit-flex-shrink: 3; /* will shring 3x the other flex items */
  flex-shrink: 3;
}
.ud-flex--wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.ud-flex--ffrw {
  -webkit-flex-flow: row wrap; /* flex-flow:  is shorthand for flex-direction, flex-wrap */
  flex-flow: row wrap;
}
.ud-flex--ffcw {
  -webkit-flex-flow: column wrap; /* flex-flow:  is shorthand for flex-direction, flex-wrap */
  flex-flow: column wrap;
}
.ud-flex--full {
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%
}
