/*-------------------------------------------------------------------
  1. @FONTFACE CSS
    Combining fonts <https://jakearchibald.com/2017/combining-fonts/>
    <https://www.google.com/get/noto/help/guidelines/>
    It is recommended to use "Noto Sans CJK {JP, KR, SC, TC}" rather than "Noto Sans {JP, KR, SC, TC}"

    https://www.google.com/get/noto/help/cjk/
    For a Japanese website:

font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif;

For a website targeting Hindi, and then Tamil users

font-family: "Noto Sans Devanagari", "Noto Sans Tamil", "Noto Sans", sans-serif;

For an Arabic website that needs to use an UI font for UI elements, such as buttons and tabs, that have more strict vertical space:

font-family: "Noto Naskh Arabic UI", "Noto Sans UI", sans-serif;
-------------------------------------------------------------------*/
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'),
      url('../fonts/NotoSans.woff2') format('woff2'),
      url('../fonts/NotoSans.woff') format('woff');
  unicode-range: U+0020-007D, U+00A9, U+00AB, U+00BB, U+00B7; /* IE ignores the unicode-range if the U is lowercase e.g 'u+0061'. */
}

@font-face {
  font-family: 'Noto Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'),
       url('../fonts/NotoSans-Bold.woff2') format('woff2'),
       url('../fonts/NotoSans-Bold.woff') format('woff');
  unicode-range: U+0020-007D; /* all letters and english related unicode-table.com */
}
@font-face {
  font-family: 'Noto Sans Disp';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Disp Regular'), local('NotoSansDisplay-Regular'),
      url('../fonts/NotoSansDisplay-Regular.woff2') format('woff2'),
      url('../fonts/NotoSansDisplay-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans Disp SemBd';
  font-style: normal;
  font-weight: 600;
  src: local('Noto Sans Disp SemBd Regular'), local('NotoSansDisplay-SemiBold'),
      url('../fonts/NotoSansDisplay-SemiBold.woff2') format('woff2'),
      url('../fonts/NotoSansDisplay-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight:  400;
  src: local('Noto Sans Mono'), local('NotoSans-Mono'),
      url('../fonts/NotoSans-Mono.woff2') format('woff2'),
      url('../fonts/NotoSans-Mono.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
      url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
      url('../fonts/montserrat-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat Semibold';
  font-style: normal;
  font-weight: 600;
  src: local(' Montserrat Semibold'), local('Montserrat-Semibold'),
      url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
      url('../fonts/montserrat-semibold-webfont.woff') format('woff');
}

/* see i18n folder for other CSS stuff */
:lang(es-ES) { /* spanish */
  quotes: "«" "»"
}
:lang(ja-JP) { { /* japan */
  quotes: "「" "」"
}
:lang(zh) { /* China */
  quotes: "「" "」"
}
:lang(zh-CN) { /* PR of China */
  quotes: "“" "”"
}
body:lang(ar) { /* arabic */
  line-height: 1.58824;
}

body:lang(th)  { /* thai */
  line-height: 1.64706;
}

body:lang(ar)
body:lang(ja),
body:lang(ko),
body:lang(th),
body:lang(zh) {
  letter-spacing: 0em
}
