@import url("_checkbox.css");

/**
  * @FORMS CSS
  *
  * Defines all of the form and field related styles used in departmental forms web pages.
  *
  * @project      UD Forms Framework
  * @version      1.0.0
  * @author       Christopher Leonard - University of Delaware | IT CS&S
  * @license      MIT License
*/
/*------------------------------------------------------------------------------
  6. @FORMS NORMALIZE CSS 8.0
    a. Remove the margin in Firefox and Safari.
    b. Show the overflow in Edge and IE.
    c. Remove the inheritance of text transform in Edge, Firefox, and IE.
    d. Prevent a WebKit bug where (2) destroys native `audio` and `video`
       controls in Android 4. (DEPRECATED)
    e. Correct the inability to style clickable types in iOS and Safari.
    f. Remove the inner border and padding in Firefox.
    g. Restore the focus styles unset by the previous rule.
    h. Correct the padding in Firefox.
    i. Correct the text wrapping in Edge and IE.
    j. Correct the color inheritance from `fieldset` elements in IE.
    k. Remove the padding so developers are not caught out when they zero out
      `fieldset` elements in all browsers.
    l. Remove the default vertical scrollbar in IE 10+.
    m. Correct the cursor style of increment and decrement buttons in Chrome.
    n. Correct the odd appearance in Chrome and Safari.
    o. Correct the outline style in Safari.
    p. Remove the inner padding in Chrome and Safari on macOS.
    q. Correct the inability to style clickable types in iOS and Safari.
    r. Change font properties to `inherit` in Safari.
    s. Firefox adds gradient to <button>
    t. How to hide autofill safari icon in input field
       https://stackoverflow.com/questions/38663578/how-to-hide-autofill-safari-icon-in-input-field/39885072#39885072
    u. Hide number picker in Webkit
       https://carl-topham.com/theblog/post/hide-number-input-spinners-using-css/
    v. Show number picker on focus in Webkit
    w. Hide number picker in Firefox
    x. Show number picker on focus in Firefox

------------------------------------------------------------------------------*/
input::-webkit-textfield-decoration-container {
  display: none; /* t */
}

input::-webkit-caps-lock-indicator {
  /* t */
}

input::-webkit-credentials-auto-fill-button {
  /* t */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* u */
  margin: 0;
  }

input[type="number"]:focus::-webkit-inner-spin-button,
input[type="number"]:focus::-webkit-outer-spin-button,
input[type="number"]:hover::-webkit-inner-spin-button,
input[type="number"]:hover::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button; /* v */
  margin: 0 2px 0 0;
}

input[type="number"] {
  -moz-appearance:textfield; /* w */
}

input[type="number"]:focus,
input[type="number"]:hover {
  -moz-appearance:number-input; /* x */
}

button {
  display: block;
  box-sizing: border-box;
/*   color: inherit; */
  text-align:center;
/*   text-decoration: none; */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image:  none; /* s */
  border: 0;
  cursor: pointer;
  /* line-height: inherit;
  overflow: visible;
  vertical-align: inherit */
}

button,
input:not([type="checkbox"]):not([type="radio"]),
optgroup,
select,
textarea {
  margin: 0; /* a */
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input:not([type="checkbox"]) {
  overflow: visible; /* b */
}
button,
select {
  text-transform: none; /* c */
}
button,
[type="button"],
[type="submit"] {
  -webkit-appearance: button; /* e */
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner { /* f */
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; /* g */
}

fieldset {
  padding: 0.35em 0.75em 0.625em; /* h */
}
legend {
  box-sizing: border-box; /* i */
  color: inherit; /* j */
  display: table; /* i */
  max-width: 100%; /* i */
  padding: 0; /* k */
  white-space: normal; /* i */
}
textarea {
  overflow: auto; /* l */
}
optgroup {
  font-weight: bold
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; /* m */
}
[type="search"] {
  -webkit-appearance: textfield; /* n */
  outline-offset: -2px; /* o */
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; /* p */
}
input[type="file" i]::-webkit-file-upload-button {
  -webkit-appearance: button; /* q */
  font: inherit; /* r */
}
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}
/*------------------------------------------------------------------------------
  9. @FORMS
    a. Change the font styles in all browsers (opinionated).
    b. Remove the margin in Firefox and Safari.
    c. SEE IE.CSS
    d. Remove the inheritance of text transform in Edge, Firefox, and IE.
    e. Prevent a WebKit bug where (2) destroys native `audio` and `video`
       controls in Android 4.
    f. Correct the inability to style clickable types in iOS and Safari.
    g. Remove the inner border and padding in Firefox.
    h. Restore the focus styles unset by the previous rule.
    i. Change the border, margin, and padding in all browsers (opinionated).
    j. SEE IE.CSS
    k. SEE IE.CSS
    l. Remove the padding so developers are not caught out when they zero out
      `fieldset` elements in all browsers.
    m. SEE IE.CSS
    n. Support for all WebKit browsers.
    0. Support for Safari and Chrome.
    p. Support for Firefox.
    q. SEE IE.CSS
    r. Remove the inheritance of text transform in Edge, Firefox, and IE
    s. Correct the cursor style of increment and decrement buttons in Chrome.
    t. Correct the inability to style clickable types in iOS and Safari.
    u. Change font properties to `inherit` in Safari.
    aa. Set 50px height on inputs for mobile devices. Touch target min is 44px
    bb. Set 65px height on inputs for screens >= 1920.
------------------------------------------------------------------------------*/
.form-field---webkit-box-shadow {
  -webkit-box-shadow: hsl(209, 97%, 53%)
}
.form-field--box-shadow {
  box-shadow: hsl(209, 97%, 53%)
}



button,
input {
  -webkit-tap-highlight-color:transparent
}
button[disabled],
input[disabled] {
  cursor: default;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
#udit-form {
  max-width: 640px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  auto;
  grid-gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  margin-top: 2rem;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}
input.invalid{
  border:1px solid #FF7700;
  background-color: #FFEAC8;
}

input:focus.invalid {
  outline: none;
}
/* This is the style of our error messages */
.error {
  width  : 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  border:1px solid #FF7700;
}

.error.active {
  padding: 0.3em;
}

label {
  color: #363636;
  max-width: 635px;
/*   line-height: 1.125; */
font-weight: 600;
margin-top: .8em;
-webkit-user-select: none;
-ms-user-select: none;
-moz-user-select: none;
user-select: none;
}

/* .label:not(:last-child) {
  margin-bottom: .5em
} */

.icon-user {
  background-image: url("../img/icons/icon-user-svg.svg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.input[disabled],
.textarea[disabled] {
    background-color: #f5f5f5;
    border-color: #dbdbdb;
    cursor: not-allowed;
    pointer-events: none
}
.input[disabled]::-moz-placeholder,
.textarea[disabled]::-moz-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input[disabled]::-webkit-input-placeholder,
.textarea[disabled]::-webkit-input-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input[disabled]:-moz-placeholder,
.textarea[disabled]:-moz-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input[disabled]:-ms-input-placeholder,
.textarea[disabled]:-ms-input-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input.is-success,
.textarea.is-success {
    border-color: #23d160
}

.input.is-warning,
.textarea.is-warning {
    border-color: #ffdd57
}

.input.is-danger,
.textarea.is-danger {
    border-color: #ff3860
}




/*------------------------------------------------------------------
  X. @LABEL SELECTOR
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  X. @HELP SELECTOR
-------------------------------------------------------------------*/
.help {
/*     font-size: 11px;
    margin-top: 5px */
}
.help.is-info {
    color: #3273dc
}

.help.is-success {
    color: #23d160
}

.help.is-warning {
    color: #ffdd57
}

.help.is-danger {
    color: #ff3860
}
/*------------------------------------------------------------------
  X. @CONTROL SELECTOR
-------------------------------------------------------------------*/

/* @media screen and (max-width:768px) {
    .control-label {
        margin-bottom: 5px
    }
} */







/*-------------------------------------------------------------------
  9. @FORMS
    a. Change the font styles in all browsers (opinionated).
    b. Remove the margin in Firefox and Safari.
    c. SEE IE.CSS
    d. Remove the inheritance of text transform in Edge, Firefox, and IE.
    e. Prevent a WebKit bug where (2) destroys native `audio` and `video`
       controls in Android 4.
    f. Correct the inability to style clickable types in iOS and Safari.
    g. Remove the inner border and padding in Firefox.
    h. Restore the focus styles unset by the previous rule.
    i. Change the border, margin, and padding in all browsers (opinionated).
    j. SEE IE.CSS
    k. SEE IE.CSS
    l. Remove the padding so developers are not caught out when they zero out
      `fieldset` elements in all browsers.
    m. SEE IE.CSS
    n. Support for all WebKit browsers.
    0. Support for Safari and Chrome.
    p. Support for Firefox.
    q. SEE IE.CSS
    r. Remove the inheritance of text transform in Edge, Firefox, and IE
    s. Correct the cursor style of increment and decrement buttons in Chrome.
    t. Correct the inability to style clickable types in iOS and Safari.
    u. Change font properties to `inherit` in Safari.
    aa. Set 50px height on inputs for mobile devices. Touch target min is 44px
    bb. Set 65px height on inputs for screens >= 1920.
-------------------------------------------------------------------*/
div.errorContainer{
  margin-bottom:1.6em;
  padding:0 1.9em;
  background-color: #FFEAC8;
  border:1px solid #FF7700
}
.errorContainer span,
span.error,
.errorContainer h3,
div.errorContainer{
  color:#FF7700
}
input[type="search"] {
  width: 100%;
  padding-right: 35px;
  height: 3.25rem;
  font-family: inherit;
  font-weight: 300;
  border-radius: 3px;
  letter-spacing: normal;
  color: hsl(0, 0%, 20%);
  border: 1px solid #bbb;
  -webkit-appearance: none;
  font-size: 22px;
  font-size: 1.375rem;
  padding-left: 50px;
  box-sizing: content-box;
margin: 0;
padding: 0;
pointer-events: auto;
letter-spacing: normal
}
/* input:not([type="checkbox"]):focus,
input:not([type="checkbox"]):active,
textarea:focus,
textarea:active,
select:focus,
select:active {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid #51CBEE;
} */
/* input:not([type="checkbox"]).valid,
select.valid,
textarea,
[type="checkbox"].valid,
[type="radio"].valid {
  border-bottom: 1px solid#00E676;
  box-shadow: 0 1px 0 0 #00E676 !important;
}
input:not([type="checkbox"]).invalid,
select.invalid,
textarea.invalid,
[type="checkbox"].invalid,
[type="radio"].invalid {
  border-color: #F44336 !important;
}
label.invalid,
div.invalid {
  color: #F44336;
}
label.invalid > sup {
  display: none;
}
div.invalid {
  position: relative;
  top: -10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 12px;
  font-style: italic;
} */






/* input:not([type="checkbox"]),
select,
textarea {
  position: relative;
  text-align: left;
} */


/* APPLE CSS

*/
.input,
input:not([type="radio"]),
input:not([type="checkbox"]),
.radio + span,
.checkbox + span,
.radio + p,
.checkbox + p,
select,
.select select,
textarea{
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: calc( 16px + (24 - 16) * ( (100vw - 400px) / ( 1920 - 320) ));
/* Note: In the example above, 16px is the minimum font-size and 24px is the maximum. 400px is the start of the viewport range and 800px is where it should stop scaling. */
}

.input,
input:not([type="radio"]),
input:not([type="checkbox"]),
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  align-items: center;
  background-color: white;
  height: auto;
  -webkit-transition-property: border, -webkit-box-shadow;
  transition-property: border, -webkit-box-shadow;
  -moz-transition-property: box-shadow, border;
  transition-property: box-shadow, border;
  transition-property: box-shadow, border, -webkit-box-shadow;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
  will-change: transform;
  border: 1px solid #ABB0B2;
  border-radius: 4px;
  display: -webkit-inline-flex;
  display: inline-flex;
  /* height: calc(2.7970rem + ((1vw - 0.1em) * 3.2813)); */ /* aa */
  justify-content: flex-start;
  /* line-height: 1.5; */
  padding-left: calc(2.125em - 1px) !important;
  padding-right: calc(2.125em - 1px) !important;
/*   padding-top: calc(0.565em - 1px) !important;
  padding-bottom: calc(0.565em - 1px) !important; */
  position: relative;
  color: hsl(0, 0%, 20%);
  width: 100%;
  margin-bottom: 1.125rem;
}



.input,
input:not([type="radio"]),
input:not([type="checkbox"]),
select,
.icon.is-medium {
  height:  52px;
  min-height: 52px;
  max-height: 65px; /* bb */
  line-height: 20px;
}
label + ul,
.input,
input:not([type="radio"]),
input:not([type="checkbox"]) {
  margin-bottom: 1.1rem;
  margin-bottom: .8rem;
}
[role="option"] {
    display: block;
    padding: 0 1em;
    position: relative;
    line-height: 1.8;
}
.listbox {
    max-height: 8em;
    overflow-y: auto;
    position: relative;
}
[role="listbox"] {
  min-height: 8em;
  padding: 0px;
  background: hsl(0, 0%, 100%);
  border: 1px solid #aaa;
}


[role="button"]:active {
  border-color: #2474d6;
  background: #0e4290;
      background-image: none;
  background-image: linear-gradient(to bottom, #2573e9, #1664da);
  box-shadow: inset 0 3px 5px 1px #0e408b;
}
[role="button"] {
  display: inline-block;
position: relative;
padding: .4em .7em;
border: 1px solid #2474d6;
/* box-shadow: 0 1px 2px #6d86ab; */
overflow: visible;
color: #fff;
/* text-shadow: 0 -1px 1px #2f3c51; */
background: #1c6ee9;
    background-image: none;
background-image: linear-gradient(to bottom, #2573e9, #1664da);

  border-radius: 3px;
  padding: 8px 14px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.2) inset;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.2) inset;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;

 /*  background-color: #474EDD;
background-image: -webkit-linear-gradient(283deg, rgba(255, 255, 255, 0.1) 50%, transparent 55%),-webkit-linear-gradient(top, rgba(255, 255, 255, 0.15), transparent);
box-shadow: 0 0 0 1px #163772 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 4px 0 0 #333797,0 4px 0 1px rgba(0, 0, 0, 0.4),0 4px 4px 1px rgba(0, 0, 0, 0.5);

text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); */

}
[role="button"]:hover {
    border-color: #15457e;
    background: #0e4290;
        background-image: none;
    background-image: linear-gradient(to bottom, #0f4699, #0c3a7d);
    cursor: default;
    outline: none;
}
[role="button"]:focus::before {
    position: absolute;
    z-index: -1;
    top: calc(-1px - 3px - 3px);
    right: calc(-1px - 3px - 3px);
    bottom: calc(-1px - 3px - 3px);
    left: calc(-1px - 3px - 3px);
    border: 3px solid #2474d6;
    border-radius: calc(5px + 3px + 3px);
    content: '';
}



.listbox-area {
  padding: 20px;
  background: #eee;
  border: 1px solid #aaa;
  font-size: 0px;
}

[role="option"] {
  display: block;
  padding: 0 1em;
  position: relative;
  line-height: 1.8em;
}

[role="option"].focused {
  background: #bde4ff;
}

[role="option"][aria-selected] {
  padding-left: 1.5em;
}

[role="option"][aria-selected="true"]::before {
  content: 'âœ“';
  position: absolute;
  left: 0.5em;
}



button[aria-disabled="true"] {
  opacity: 0.5;
}

.move-right-btn {
  padding-right: 20px;
  position: relative;
}

.move-right-btn::after {
  content: ' ';
  height: 10px;
  width: 12px;
  background-image: url('../imgs/Arrows-Right-icon.png');
  background-position: center right;
  position: absolute;
  right: 2px;
  top: 6px;
}

.move-left-btn {
  padding-left: 20px;
  position: relative;
}

.move-left-btn::after {
  content: ' ';
  height: 10px;
  width: 12px;
  background-image: url('../imgs/Arrows-Left-icon.png');
  background-position: center left;
  position: absolute;
  left: 2px;
  top: 6px;
}

#ss_elem_list {
  max-height: 18em;
  overflow-y: auto;
  position: relative;
}

#exp_button {
  border-radius: 0;
  font-size: 16px;
  text-align: left;
  padding: 5px 10px;
  width: 150px;
  position: relative;
}

#exp_button::after {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #aaa;
  content: " ";
  position: absolute;
  right: 5px;
  top: 10px;
}

#exp_button[aria-expanded="true"]::after {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 0;
  border-bottom: 8px solid #aaa;
  content: " ";
  position: absolute;
  right: 5px;
  top: 10px;
}

#exp_elem_list {
  border-top: 0;
  max-height: 10em;
  overflow-y: auto;
  position: absolute;
  margin: 0;
  width: 148px;
}

.hidden {
  display: none;
}

.toolbar {
  font-size: 0;
}

.toolbar-item {
  border: 1px solid #aaa;
  background: #ccc;
}

.toolbar-item[aria-disabled="false"]:focus {
  background-color: #eee;
}

.offscreen {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  font-size: 14px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}




.input:active,
input:not([type="radio"]):active,
input:not([type="checkbox"]):active,
.input:focus,
input:not([type="radio"]):focus,
input:not([type="checkbox"]):focus,
select:active,
select:focus,
textarea:active,
textarea:focus {
  -webkit-box-shadow: 0px 0px 8px hsl(209, 97%, 53%);
  box-shadow: 0px 0px 8px hsl(209, 97%, 53%);
  border-radius: 4px;
  border: 1px solid hsl(209, 97%, 53%);
  outline: 0 none;
  -webkit-transition-property: border, -webkit-box-shadow;
  transition-property: border, -webkit-box-shadow;
  -moz-transition-property: box-shadow, border;
  transition-property: box-shadow, border;
  transition-property: box-shadow, border, -webkit-box-shadow;
  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
     -moz-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
     -moz-perspective: 1000;
          perspective: 1000;
  will-change: transform;
}
input[disabled],
textarea[disabled],
select[disabled],
[type="checkbox"][disabled],
[type="radio"][disabled],
.button[disabled],
button[disabled] {
  cursor: not-allowed;
  color: #7A7A7A;
}
input[disabled]:not('#todays_date'),
select[disabled],
textarea[disabled] {
  background-color: #7A7A7A;
  border-color: #7A7A7A;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 24px;
}

button,
html input[type=button],
input[type=submit] {
  -moz-appearance: button;
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

input[disabled]::-moz-placeholder,
select[disabled]::-moz-placeholder,
textarea[disabled]::-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
  text-overflow: ellipsis;
  opacity: 100;
}

input[disabled]::-webkit-input-placeholder,
select[disabled]::-webkit-input-placeholder,
textarea[disabled]::-webkit-input-placeholder {
  color: rgba(54, 54, 54, 0.3);
  text-overflow: ellipsis;
  opacity: 100;
}

input[disabled]:-moz-placeholder,
select[disabled]:-moz-placeholder,
textarea[disabled]:-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
  text-overflow: ellipsis;
  opacity: 100;
}

input[disabled]:-ms-input-placeholder,
select[disabled]:-ms-input-placeholder,
textarea[disabled]:-ms-input-placeholder {
  color: rgba(54, 54, 54, 0.3);
  text-overflow: ellipsis;
  opacity: 100;
}


 label + [type="checkbox"]::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: 2px solid #ABB0B2;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  -moz-appearance: checkbox;
  -webkit-appearance: checkbox;
}
[type="checkbox"],
[type="radio"] {
  cursor: pointer;
  display: inline-block;
  line-height: 1.25;
  position: relative;
  vertical-align: baseline;
  box-sizing: border-box;
  padding: 0;
  margin-right: 10px;
}

[type="checkbox"] input,
[type="radio"] input {
  cursor: pointer;
}





[type="radio"] + [type="radio"] {
  margin-left: 0.5em;
}




fieldset {
  margin: 0 2px;
  border: 0;
}

fieldset fieldset{
  background:#F7F7F7;
}
fieldset fieldset legend{
  font-size:1.2rem;
  background:none;
  color:#00539F;
}
center > button {
    margin-top: 3em !important;
}


legend {
  color: #434343;
  font-family:  "Yantramanav", Arial, san-serif;
  font-size: 2rem;
  font-weight: 100;
  white-space: normal
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-inline-flex;
  display: inline-flex;
  height: calc(3.333em - 1px);
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: background .15s ease-out,
                      transform .15s ease-out,
                      box-shadow .15s ease-out;
  transition: background .15s ease-out,
              transform .15s ease-out,
              box-shadow .15s ease-out;
  color: #FFF;
}
/* .u-overflowX {
 overflow-x:auto!important;
 overflow-y:hidden!important;
 -webkit-overflow-scrolling:touch!important;
 -ms-overflow-style:-ms-autohiding-scrollbar!important
} */
.button strong {
  color: inherit;
}
.button .icon,
.button .icon.is-small,
.button .icon.is-medium,
.button .icon.is-large {
  height: 1.5em;
  width: 1.5em;
}
.button .icon:first-child:not(:last-child) {
  margin-left: calc(-0.375em - 1px);
  margin-right: 0.1875em;
}
.button .icon:last-child:not(:first-child) {
  margin-left: 0.1875em;
  margin-right: calc(-0.375em - 1px);
}
.button .icon:first-child:last-child {
  margin-left: calc(-0.375em - 1px);
  margin-right: calc(-0.375em - 1px);
}
.button:hover, .button.is-hovered {
  border-color: #b5b5b5;
  color: #363636;
}
.button:focus, .button.is-focused {
  border-color: #00d1b2;
  -webkit-box-shadow: 0 0 0.5em rgba(0, 209, 178, 0.25);
  box-shadow: 0 0 0.5em rgba(0, 209, 178, 0.25);
  color: #363636;
}

.button:active, .button.is-active {
  border-color: #4a4a4a;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
  color: #363636;
}
.button.is-info {
  background-color: #3273dc;
  border-color: transparent;
  color: #fff;
}

.button.is-info:hover,
.button.is-info.is-hovered {
  background-color: #276cda;
  border-color: transparent;
  color: #fff;
}

.button.is-info:focus,
.button.is-info.is-focused {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0.5em rgba(50, 115, 220, 0.25);
  box-shadow: 0 0 0.5em rgba(50, 115, 220, 0.25);
  color: #fff;
}

.button.is-info:active,
.button.is-info.is-active {
  background-color: #2366d1;
  border-color: transparent;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
  color: #fff;
}

.button.is-info[disabled] {
  background-color: #3273dc;
  border-color: transparent;
  box-shadow: none;
}
.button.is-success {
  background-color: #23d160;
  border-color: transparent;
  color: #fff;
}

.button.is-success:hover,
.button.is-success.is-hovered {
  background-color: #22c65b;
  border-color: transparent;
  color: #fff;
}

.button.is-success:focus,
.button.is-success.is-focused {
  border-color: transparent;
  box-shadow: 0 0 0.5em rgba(35, 209, 96, 0.25);
  color: #fff;
}

.button.is-success:active,
.button.is-success.is-active {
  background-color: #20bc56;
  border-color: transparent;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
  color: #fff;
}

.button.is-success[disabled] {
  background-color: #23d160;
  border-color: transparent;
  box-shadow: none;
}

.button.is-success.is-loading:after {
  border-color: transparent transparent #fff #fff !important;
}


.button.is-small {
  border-radius: 2px;
  font-size: 0.75rem;
}

.button.is-medium {
  font-size: 1.25rem;
}

.button.is-large {
  font-size: 1.5rem;
}

.button[disabled] {
  background-color: #FFF;
  border-color: #7A7A7A;
  box-shadow: none;
  opacity: 0.5;
}

.button.is-fullwidth {


  display: flex;
  width: 100%;
}

.button.is-loading {
  color: transparent !important;
  pointer-events: none;
}

.button.is-loading:after {
  -webkit-animation: spinAround 500ms infinite linear;
          animation: spinAround 500ms infinite linear;
  border: 2px solid #ABB0B2;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
  position: absolute;
  left: calc(50% - (1em / 2));
  top: calc(50% - (1em / 2));
  position: absolute !important;
}




.select select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: none;
  display: -webkit-inline-flex;
  display: inline-flex;
  height: calc(3.333em - 1px);
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  background-color: #FFF;
  border-color: #ABB0B2;
  color: hsl(0, 0%, 20%);
  cursor: pointer;
  display: block;
  font-size: 1em;
  max-width: 100%;
  outline: none;
  padding-right: 2.5em;
}
/* select {
  position: relative;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid #AAA;
  border-radius: 3px;
  box-shadow: none;
  display: inline-block;
  height: calc(3.333em - 1px);
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  vertical-align: top;
  cursor: pointer;
  font-size: 1em;
  outline: none;
  color: #AAA;
} */
.select {
  display: inline-block;
  height: calc(3.333em - 1px);
  max-width: 100%;
  position: relative;
  vertical-align: top;
}
.select:after {
  border: 1px solid #ABB0B2;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.5em;
  pointer-events: none;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 0.5em;
  margin-top: -0.375em;
  right: 1.125em;
  top: 50%;
  z-index: 4;
}
select::-ms-expand {
  display: none;
}
select.is-disabled:after {
  border-color: #7A7A7A;
}

.column > small {
  padding-left: 8px;
}

