/**
* @CSS GRID CSS
*
* Uses grid and flexbox layout concepts together. Includes fallback for
* unsupported browsers.
*
* @version      1.0.0
* @author       Christopher Leonard - University of Delaware | IT CS&S
* @license      MIT License
* @see          https://philipwalton.github.io/solved-by-flexbox/demos/grids/
*/

/* .ud-grid--wrapper > div,
.main {
    padding: 1em;
} */
.ud-grid {
  display:  -webkit-grid;
  display: grid;
}
.ud-grid--wrapper {
  display: grid;
  width: 100vw;
  width: 100%;
  min-height: 30em;
  grid-column-gap: 1em;
  /* shorthand grid-template: rows / columns */
  /** below is used with menu / help, hero, main, boxes 1-3 grid layout
  grid-template: minmax(max-content, 50px) minmax(max-content, 250px) 2fr minmax(max-content, 200px) / repeat(6, 1fr);
*/
  grid-template: minmax(max-content, 20em) minmax(max-content, 20em) minmax(max-content, 10em) / repeat(6, 1fr);
}
/** PAGE TEMPLATE CONTAINERS */
.menu,
.help,
.hero,
.main,
.box1,
.box2,
.box3 {
  position: relative;
}
.menu {
  grid-area: 1 / 1 / 1 / 4;
}
.help {
  grid-area: 1 / 4 / 1 / -1;
}
.hero {
  grid-area: 1 / 1 / 2 / -1;
  bottom:  -1px; /* hacky hack to remove 1px tall white line */
}
.main {
  grid-area: 2 / 1 / 3 / -1;
}
.box1 {
  grid-area: 3 / 1 / 4 / 3;
}
.box2 {
  grid-area: 3 / 3 / 4 / 5;
}
.box3 {
  grid-area: 3 / 5 / 4 / -1;
}
.ud-grid--cell {
  margin-bottom: 16px;
  padding-right: 8px;
  padding-left: 8px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}


@media screen and (max-width: 499px) {
.ud-grid--wrapper {
    margin: 0 auto;
    grid-template-columns: repeat(3, minmax(100px, 1fr)); /* repeat(3, 1fr); */
    -ms-grid-columns:  1fr 1fr 1fr;
  }
  .box1 {
    grid-area: 3 / 1 / 3 / 1;
  }
  .box2 {
      grid-area: 3 / 2 / 3 / 2;
  }
  .box3 {
      grid-area: 3 / 3 / 3 / 3;
  }
  .ud-norm--header, .ud-norm--footer {
    -webkit-flex-direction:column;
    flex-direction:column;
  }
}

@media screen and (max-width: 699px) {
  .ud-norm--header, .ud-norm--footer {
    -webkit-flex-direction:row;
    flex-direction:row;
  }
}
/************/





@supports not (display: grid) {
  body:before {
    content: 'Your browser does not support CSS grid. A fallback has been implemented.';
    display: block;
    padding: 2rem 2rem 0;
    color: black;
    text-align: center;
  }
}

/* .ud-grid-wrapper > div {
  padding-left: calc(2.125em - 1px) !important;

padding-right: calc(2.125em - 1px) !important;

padding-top: calc(0.565em - 1px) !important;

padding-bottom: calc(0.565em - 1px) !important;
} */
/* .menu {
  grid-area: 1 / 1 / 1 / 4;
}
.help {
  grid-area: 1 / 4 / 1 / -1;
}
.hero {
  grid-area: 2 / 1 / 2 / -1;
  min-height:250px;
   background:hsl(218, 100%, 33%);
  background:url("https://www1.udel.edu/chris/!projects/UDformdev/deptforms/img/pattern.svg") top left no-repeat,linear-gradient(87deg,#662d91 0,#0071bc 80%);
  min-height: 300px;
  --webkit-background-size: cover;
  background-size: cover;
background-image: radial-gradient(ellipse farthest-corner at center top, #16D9E3 0%, #30C7EC 50%, #46AEF7 100%);

}
.main {
grid-area: 3 / 1 / 3 / -1;
}
.box1 {
  grid-area: 4 / 1 / 4 / 3;
}
.box2 {
  grid-area: 4 / 3 / 4 / 5;
}
.box3 {
  grid-area: 4 / 5 / 4 / -1;
}
 */
