/*-------------------------------------------------------------------
  8. @UD HELPER CLASSES
-------------------------------------------------------------------*/
.ud-uc {
  text-transform:  var(--ud-text--uppercase);
}
.udit_inline_block {
  display: inline-block !important
}
.udit_inline {
  display: inline !important
}
.udit_text_left {
  text-align:left !important
}
.udit_text_center {
  text-align:center !important
}
.udit_text_right {
  text-align:right !important
}
.udit_text_justify {
  text-align:justify !important
}
.udit_block {
  display: block !important
}
.udit_none {
  display: none !important
}
.udit_float_left {
  float: left !important;
}
.udit_float_right {
  float: right !important;
}
.ud-text--display {
  font-family: var(--font-sans-display);
}
.udit_margin_right_auto{
  margin-right: auto;
}
