@import url("https://fonts.googleapis.com/css?family=Lato+Light");


body {
    background: radial-gradient(circle at top left, #fcfaf0, #d5d1b6, #d9d4d2)
}

.coffee-app {
    font-family: latolight;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    height: 91vh;
/*     border-radius: 2vh; */
    overflow: hidden;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;

    justify-content: center;
    -webkit-align-items: center;

    align-items: center;
    background: linear-gradient(to right, #ce5169 0, #a53d59 90%);
    color: #f6d282;
    box-shadow: 2vh 2vh 4vh -1vh rgba(0, 0, 0, .33), -2vh 2vh 6vh -1vh rgba(0, 0, 0, .33)
}

.coffee-app,
.coffee-app__title {
/*     width: 56vh; */
    display: -webkit-flex;
    display: flex;
  flex:1;
  max-width:479px
}

.coffee-app__title {
    -webkit-align-items: flex-end;
    align-items: flex-end;
    height: 21vh;
    font-size: 4vh
}

.coffee-app__title>p {
    padding: 0 0 6.3vh 6.4vh;
    margin: 0
}

.coffee-app__content {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-align-items: center;

    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    flex: 1;
    height: 70vh
}

@-webkit-keyframes open {
    0% {
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
        opacity: 0
    }
    50%,
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes open {
    0% {
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
        opacity: 0
    }
    50%,
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@-webkit-keyframes close {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
    to {
        -webkit-transform: translateX(-20%);
        transform: translateX(-20%);
        opacity: 0
    }
}

@keyframes close {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
    to {
        -webkit-transform: translateX(-20%);
        transform: translateX(-20%);
        opacity: 0
    }
}

.open .coffee-app__title {
    opacity: 0;
    -webkit-animation: open .6s linear;
    animation: open .6s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.close .coffee-app__title {
    -webkit-animation: close .3s linear;
    animation: close .3s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.cup-size {
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    flex:1;
    height: 70vh
}

.cup-size,
.cup-size__icon {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.cup-size__icon {
    cursor: pointer;
    height: 50%;
    width: 50%;
    -webkit-flex-direction: column;
    flex-direction: column
}

.cup-size__icon:nth-of-type(1) {
    background: linear-gradient(to right bottom, #a04463, #7d355b)
}

.cup-size__icon:nth-of-type(2) {
    background: linear-gradient(to right bottom, #7e355f, #602a55)
}

.cup-size__icon:nth-of-type(3) {
    background: linear-gradient(to right bottom, #402344, #2e183f)
}

.cup-size__icon:nth-of-type(4) {
    background: linear-gradient(to right bottom, #593054, #452449)
}

.cup-size__icon:nth-of-type(3) {
    -webkit-order: 1;
    order: 1
}

.cup-size__icon svg {
    width: 28vh;
    height: 22.4vh;
    stroke-width: 4;
    fill: none;
    stroke: #f6d282;
    stroke-linejoin: round
}

.cup-size__icon p {
    margin-top: 2.75vh;
    font-size: 2.75vh;
    color: #fff
}

@-webkit-keyframes cup-2 {
    0% {
        -webkit-transform: translate(-100%);
        transform: translate(-100%)
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
}

@keyframes cup-2 {
    0% {
        -webkit-transform: translate(-100%);
        transform: translate(-100%)
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
}

@-webkit-keyframes cup-3 {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
}

@keyframes cup-3 {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
}

@-webkit-keyframes cup-4 {
    0% {
        -webkit-transform: translate(100%);
        transform: translate(100%)
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
}

@keyframes cup-4 {
    0% {
        -webkit-transform: translate(100%);
        transform: translate(100%)
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
}

@-webkit-keyframes cup-svg {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes cup-svg {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@-webkit-keyframes cup-p {
    0% {
        -webkit-transform: translateY(30%);
        transform: translateY(30%)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes cup-p {
    0% {
        -webkit-transform: translateY(30%);
        transform: translateY(30%)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

.open .cup-size__icon {
    opacity: 0;
    -webkit-animation: .1s linear;
    animation: .1s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.open .cup-size__icon:nth-of-type(1) {
    z-index: 3;
    -webkit-animation-name: cup-2;
    animation-name: cup-2;
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}

.open .cup-size__icon:nth-of-type(1) svg {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

.open .cup-size__icon:nth-of-type(1) p {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.open .cup-size__icon:nth-of-type(2) {
    z-index: 2;
    -webkit-animation-name: cup-2;
    animation-name: cup-2;
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

.open .cup-size__icon:nth-of-type(2) svg {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.open .cup-size__icon:nth-of-type(2) p {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.open .cup-size__icon:nth-of-type(3) {
    z-index: 1;
    -webkit-animation-name: cup-3;
    animation-name: cup-3;
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.open .cup-size__icon:nth-of-type(3) svg {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.open .cup-size__icon:nth-of-type(3) p {
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}

.open .cup-size__icon:nth-of-type(4) {
    z-index: 0;
    -webkit-animation-name: cup-4;
    animation-name: cup-4;
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.open .cup-size__icon:nth-of-type(4) svg {
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}

.open .cup-size__icon:nth-of-type(4) p {
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}

.open .cup-size__icon p {
    opacity: 0;
    -webkit-animation: cup-p .1s ease-out;
    animation: cup-p .1s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.open .cup-size__icon svg {
    opacity: 0;
    -webkit-animation: cup-svg .1s linear;
    animation: cup-svg .1s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes cup-close {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    to {
        -webkit-transform: scale(3);
        transform: scale(3)
    }
}

@keyframes cup-close {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    to {
        -webkit-transform: scale(3);
        transform: scale(3)
    }
}

@-webkit-keyframes cup-p-svg-close {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    to {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
}

@keyframes cup-p-svg-close {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    to {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
}

.close .selected {
    -webkit-animation: cup-close .2s linear;
    animation: cup-close .2s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.close .selected p,
.close .selected svg {
    -webkit-animation: cup-p-svg-close .1s linear;
    animation: cup-p-svg-close .1s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.milk-type {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;

    justify-content: center;
    width: 56vh;
    height: 70vh;
    background: linear-gradient(to right bottom, #593054, #3f2046)
}

.milk-type,
.milk-type__icon {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;

    align-items: center
}

.milk-type__icon {
    cursor: pointer;
    height: 17.5vh;
    width: 100%;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

.milk-type__icon:nth-of-type(1) {
    background-color: rgba(81, 42, 81, .8)
}

.milk-type__icon:nth-of-type(2) {
    background-color: rgba(69, 32, 77, .8)
}

.milk-type__icon:nth-of-type(3) {
    background-color: rgba(56, 29, 70, .8)
}

.milk-type__icon:nth-of-type(4) {
    background-color: rgba(46, 24, 63, .8)
}

.milk-type__icon svg {
    height: 17.5vh;
    width: 20.125vh;
    stroke-width: 3;
    fill: none;
    stroke: #f6d282;
    stroke-linejoin: round;
    stroke-linecap: round
}

.milk-type__icon p {
    margin: 0;
    font-size: 2.75vh;
    color: #fff
}

@-webkit-keyframes type {
    0% {
        -webkit-transform: scaleX(.2);
        transform: scaleX(.2);
        opacity: 0
    }
    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        opacity: 1
    }
}

@keyframes type {
    0% {
        -webkit-transform: scaleX(.2);
        transform: scaleX(.2);
        opacity: 0
    }
    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        opacity: 1
    }
}

@-webkit-keyframes type-svg {
    0% {
        -webkit-transform: scale(.3);
        transform: scale(.3);
        opacity: 0
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes type-svg {
    0% {
        -webkit-transform: scale(.3);
        transform: scale(.3);
        opacity: 0
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@-webkit-keyframes type-p {
    0% {
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
        opacity: 0
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes type-p {
    0% {
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
        opacity: 0
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

.open .milk-type__icon {
    opacity: 0;
    -webkit-animation: type .15s linear;
    animation: type .15s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.open .milk-type__icon:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}

.open .milk-type__icon:nth-of-type(1) svg {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

.open .milk-type__icon:nth-of-type(1) p {
    -webkit-animation-delay: .175s;
    animation-delay: .175s
}

.open .milk-type__icon:nth-of-type(2) {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

.open .milk-type__icon:nth-of-type(2) svg {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.open .milk-type__icon:nth-of-type(2) p {
    -webkit-animation-delay: .275s;
    animation-delay: .275s
}

.open .milk-type__icon:nth-of-type(3) {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.open .milk-type__icon:nth-of-type(3) svg {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.open .milk-type__icon:nth-of-type(3) p {
    -webkit-animation-delay: .375s;
    animation-delay: .375s
}

.open .milk-type__icon:nth-of-type(4) {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.open .milk-type__icon:nth-of-type(4) svg {
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}

.open .milk-type__icon:nth-of-type(4) p {
    -webkit-animation-delay: .475s;
    animation-delay: .475s
}

.open .milk-type__icon svg {
    opacity: 0;
    -webkit-animation: type-svg .1s linear;
    animation: type-svg .1s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.open .milk-type__icon p {
    opacity: 0;
    -webkit-animation: type-p .1s ease-in;
    animation: type-p .1s ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes type-close {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        opacity: 1
    }
    to {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        opacity: 0
    }
}

@keyframes type-close {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        opacity: 1
    }
    to {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        opacity: 0
    }
}

@-webkit-keyframes type-svg-close {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
    to {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
}

@keyframes type-svg-close {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
    to {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
}

@-webkit-keyframes type-p-close {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
    to {
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
        opacity: 0
    }
}

@keyframes type-p-close {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
    to {
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
        opacity: 0
    }
}

.close .milk-type__icon {
    -webkit-animation: type-close .1s linear;
    animation: type-close .1s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.close .milk-type__icon:nth-of-type(4) {
    -webkit-animation-delay: .23s;
    animation-delay: .23s
}

.close .milk-type__icon:nth-of-type(4) svg {
    -webkit-animation-delay: .15s;
    animation-delay: .15s
}

.close .milk-type__icon:nth-of-type(4) p {
    -webkit-animation-delay: .13s;
    animation-delay: .13s
}

.close .milk-type__icon:nth-of-type(3) {
    -webkit-animation-delay: .18s;
    animation-delay: .18s
}

.close .milk-type__icon:nth-of-type(3) svg {
    -webkit-animation-delay: .12s;
    animation-delay: .12s
}

.close .milk-type__icon:nth-of-type(3) p {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

.close .milk-type__icon:nth-of-type(2) {
    -webkit-animation-delay: .13s;
    animation-delay: .13s
}

.close .milk-type__icon:nth-of-type(2) svg {
    -webkit-animation-delay: .09s;
    animation-delay: .09s
}

.close .milk-type__icon:nth-of-type(2) p {
    -webkit-animation-delay: .07s;
    animation-delay: .07s
}

.close .milk-type__icon:nth-of-type(1) {
    -webkit-animation-delay: .08s;
    animation-delay: .08s
}

.close .milk-type__icon:nth-of-type(1) svg {
    -webkit-animation-delay: .06s;
    animation-delay: .06s
}

.close .milk-type__icon:nth-of-type(1) p {
    -webkit-animation-delay: .04s;
    animation-delay: .04s
}

.close .milk-type__icon svg {
    -webkit-animation: type-svg-close .05s linear;
    animation: type-svg-close .05s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.close .milk-type__icon p {
    -webkit-animation: type-p-close .05s linear;
    animation: type-p-close .05s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

input[type=range] {
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: transparent;
    overflow: visible;
    border: 0 none;
    background: transparent;
    -webkit-appearance: none
}

input[type=range]:focus {
    outline: none
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
    border: transparent
}

input[type=range]::-ms-track {
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: transparent;
    overflow: visible;
    border: 0 none;
    background: transparent
}

input[type=range]::-moz-range-track {
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: transparent;
    overflow: visible;
    border: 0 none;
    background: transparent;
    -moz-appearance: none
}

input[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: transparent;
    overflow: visible;
    border: 0 none;
    background: transparent;
    -webkit-appearance: none
}

input[type=range]::-ms-thumb {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 0;
    border: 0 none;
    background: transparent
}

input[type=range]::-moz-range-thumb {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 0;
    border: 0 none;
    background: transparent;
    -moz-appearance: none
}

input[type=range]::-webkit-slider-thumb {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 0;
    border: 0 none;
    background: transparent;
    -webkit-appearance: none
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
    border: 0 none;
    background: transparent
}

input[type=range]::-ms-tooltip {
    display: none
}

.slider {
    border: 0 none;
    left: 0;
    top: 0;
    overflow: visible;
    position: absolute
}

.slider__root,
.slider__svg {
    position: absolute;
    overflow: visible;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.slider__svg {
    z-index: 19
}

.slider__root {
    z-index: 20
}

.slider,
.slider__root,
.slider__svg {
    width: 35vh;
    height: 6.25vh
}

.next {
    font-family: latolight;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    font-size: 3vh;
    padding: .6vh;
    margin-bottom: 5.5vh;
    text-decoration: none;
    background: none;
    border: none;
    color: #fff
}

.next:focus {
    outline: none
}

.next:hover {
    -webkit-transform: scale(.96);
    transform: scale(.96)
}

.next:active {
    opacity: .1
}

.milk-balance {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;

    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    width: 56vh;
    height: 70vh;
    background: linear-gradient(to right bottom, #593054, #3f2046)
}

.milk-balance p {
    font-family: latohairline;
    font-size: 13vh;
    margin: 0;
    padding: 13vh 0
}

.milk-balance .slider {
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%)
}

.milk-balance .slider circle {
    fill: #fff
}

.milk-balance .slider #fill--upper stop {
    stop-color: #fff
}

.milk-balance .slider rect:nth-of-type(1) {
    fill: #6df
}

@-webkit-keyframes balance {
    0% {
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
        opacity: .2
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes balance {
    0% {
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
        opacity: .2
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

.open .milk-balance p {
    opacity: 0;
    -webkit-animation: balance .2s linear .1s;
    animation: balance .2s linear .1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes balance-close {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
    to {
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
        opacity: 0
    }
}

@keyframes balance-close {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
    to {
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
        opacity: 0
    }
}

.close .milk-balance p {
    -webkit-animation: balance-close .3s linear;
    animation: balance-close .3s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.close .milk-balance .next {
    opacity: 0
}

input[type=range] {
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: transparent;
    overflow: visible;
    border: 0 none;
    background: transparent;
    -webkit-appearance: none
}

input[type=range]:focus {
    outline: none
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
    border: transparent
}

input[type=range]::-ms-track {
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: transparent;
    overflow: visible;
    border: 0 none;
    background: transparent
}

input[type=range]::-moz-range-track {
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: transparent;
    overflow: visible;
    border: 0 none;
    background: transparent;
    -moz-appearance: none
}

input[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: transparent;
    overflow: visible;
    border: 0 none;
    background: transparent;
    -webkit-appearance: none
}

input[type=range]::-ms-thumb {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 0;
    border: 0 none;
    background: transparent
}

input[type=range]::-moz-range-thumb {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 0;
    border: 0 none;
    background: transparent;
    -moz-appearance: none
}

input[type=range]::-webkit-slider-thumb {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 0;
    border: 0 none;
    background: transparent;
    -webkit-appearance: none
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
    border: 0 none;
    background: transparent
}

input[type=range]::-ms-tooltip {
    display: none
}

.slider {
    border: 0 none;
    left: 0;
    top: 0;
    overflow: visible;
    position: absolute
}

.slider__root,
.slider__svg {
    position: absolute;
    overflow: visible;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.slider__svg {
    z-index: 19
}

.slider__root {
    z-index: 20
}

.slider,
.slider__root,
.slider__svg {
    width: 35vh;
    height: 6.25vh
}

input[type=range] {
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: transparent;
    overflow: visible;
    border: 0 none;
    background: transparent;
    -webkit-appearance: none
}

input[type=range]:focus {
    outline: none
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
    border: transparent
}

input[type=range]::-ms-track {
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: transparent;
    overflow: visible;
    border: 0 none;
    background: transparent
}

input[type=range]::-moz-range-track {
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: transparent;
    overflow: visible;
    border: 0 none;
    background: transparent;
    -moz-appearance: none
}

input[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: transparent;
    overflow: visible;
    border: 0 none;
    background: transparent;
    -webkit-appearance: none
}

input[type=range]::-ms-thumb {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 0;
    border: 0 none;
    background: transparent
}

input[type=range]::-moz-range-thumb {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 0;
    border: 0 none;
    background: transparent;
    -moz-appearance: none
}

input[type=range]::-webkit-slider-thumb {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 0;
    border: 0 none;
    background: transparent;
    -webkit-appearance: none
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
    border: 0 none;
    background: transparent
}

input[type=range]::-ms-tooltip {
    display: none
}

.slider {
    border: 0 none;
    left: 0;
    top: 0;
    overflow: visible;
    position: absolute
}

.slider__root,
.slider__svg {
    position: absolute;
    overflow: visible;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.slider__svg {
    z-index: 19
}

.slider__root {
    z-index: 20
}

.slider,
.slider__root,
.slider__svg {
    width: 35vh;
    height: 6.25vh
}

.next {
    font-family: latolight;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    font-size: 3vh;
    padding: .6vh;
    margin-bottom: 5.5vh;
    text-decoration: none;
    background: none;
    border: none;
    color: #fff
}

.next:focus {
    outline: none
}

.next:hover {
    -webkit-transform: scale(.96);
    transform: scale(.96)
}

.next:active {
    opacity: .1
}

.foam {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    height: 70vh;
    background: linear-gradient(to right bottom, #593054, #3f2046)
}

.foam,
.foam .foam__adjust {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;

    align-items: center;
    width: 56vh
}

.foam .foam__adjust {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 49vh
}

.foam .foam__adjust .slider {
    top: 35%;
    left: 5%;
    -webkit-transform: translate(-25%, -50%) rotate(90deg);
    transform: translate(-25%, -50%) rotate(90deg)
}

.foam .foam__adjust .slider circle {
    fill: #fff
}

.foam .foam__adjust .slider #fill--upper stop {
    stop-color: #fff
}

.foam .foam__adjust .slider rect:nth-of-type(1) {
    fill: #f6d282
}

.foam .foam__adjust__cup {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 33.6vh;
    height: 35vh
}

.foam .foam__adjust__cup svg {
    width: 26.5vh;
    height: 21vh;
    fill: #fff
}

.foam .foam__adjust__cup svg path:not(:nth-of-type(3)) {
    stroke-width: 4;
    fill: none;
    stroke: #f6d282;
    stroke-linejoin: round;
    stroke-linecap: round
}

.foam .foam__adjust__cup .value {
    font-family: latohairline;
    font-size: 10.5vh;
    margin: 0;
    width: 30vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;

    justify-content: center
}

@-webkit-keyframes foam-value {
    0% {
        -webkit-transform: translateY(20%);
        transform: translateY(20%);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes foam-value {
    0% {
        -webkit-transform: translateY(20%);
        transform: translateY(20%);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@-webkit-keyframes foam-cup {
    0% {
        -webkit-transform: scale(.4);
        transform: scale(.4);
        opacity: 0
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes foam-cup {
    0% {
        -webkit-transform: scale(.4);
        transform: scale(.4);
        opacity: 0
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@-webkit-keyframes foam-slider {
    0% {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes foam-slider {
    0% {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.open .foam .slider {
    opacity: 0;
    -webkit-animation: foam-slider .3s linear;
    animation: foam-slider .3s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.open .foam .foam__adjust__cup svg {
    opacity: 0;
    -webkit-animation: foam-cup .4s linear;
    animation: foam-cup .4s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.open .foam .foam__adjust__cup .value {
    -webkit-animation: foam-value .3s linear;
    animation: foam-value .3s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes foam-cup-close {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes foam-cup-close {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-webkit-keyframes foam-value-close {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
    to {
        -webkit-transform: translateY(20%);
        transform: translateY(20%);
        opacity: 0
    }
}

@keyframes foam-value-close {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
    to {
        -webkit-transform: translateY(20%);
        transform: translateY(20%);
        opacity: 0
    }
}

.close .foam .foam__adjust__cup svg {
    -webkit-animation: foam-cup-close .21s linear;
    animation: foam-cup-close .21s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.close .foam .foam__adjust__cup .value {
    -webkit-animation: foam-value-close .12s linear;
    animation: foam-value-close .12s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.close .foam .next {
    opacity: 0
}



.coffee-app__title {
  position: relative;
/*   margin-left: 7px; */
background-color: lightcoral;
  width:479px;
  height:667px;
  @include demo-box-shadow;
  overflow: hidden;
  will-change:transform;
}
.coffee-app__title .inbox_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  @include flexbox;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  //   position: absolute;
  // right: 0;
  // top: 100%;
  // transform: scale(0);
  // transform-origin: 180px 0;
  // overflow: hidden;
  // transition: transform 225ms ease-in-out;
}

.coffee-app__title .inbox_wrapper .inbox {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 13px 2px #f8f8f8;
/*   -webkit-flex-basis:100%;
  flex-basis:100%; */
}
.coffee-app__title .hamburger__checkbox {
  display: none;
}
.coffee-app__title .hamburger__checkbox:checked ~ .inbox_wrapper {
  -webkit-transform: translateX(120px) scale(0.7);
          transform: translateX(120px) scale(0.7);
  // transform: scale(1);
}
.coffee-app__title .hamburger__checkbox:checked ~ .overlay {
  -webkit-transform: translate(0%, 0%) scale(1);
          transform: translate(0%, 0%) scale(1);
width:100%;
  height:100%;
  // transform: scale(1);
}




.coffee-app__title .header {
  display: flex;
  align-items: center;
  height: 40px;
}

.coffee-app__title .hamburger {
  cursor: pointer;
}

