/**
  * @NORMALIZE CSS
  *
  * Defines all of the reset styles used in departmental forms web pages.
  * Based off normalize.css v7.0.0 by Nicolas Gallagher
  *
  * The Table of contents conforms to W3C HTML Elements organization.
  * <https://www.w3.org/TR/2012/WD-html-markup-20121025/elements-by-function.html>
  *
  * @project      UD Forms Framework
  * @version      1.0.0
  * @author       Christopher Leonard - University of Delaware | IT CS&S
  * @license      MIT License
*/
/*------------------------------------------------------------------------------
[Table of contents]
  1. @MAIN ROOT
  2. @SECTIONING ROOT
  3. @GROUPING CONTENT
  4. @TEXT-LEVEL SEMANTICS
  5. @EMBEDDED CONTENT
  6. @FORMS
  7. @TABLES
  8. @SCREEN READERS
  9. @MEDIA QUERIES
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
  1. @MAIN ROOT
      a. System fonts used by Medium and WordPress MOVED TO _variables.css
      b. Correct the font size and margin on 'h1' elements within 'section' and
         'article' contexts in Chrome, Firefox, and Safari.
      c. Tested with Yantramanav font at http://typecast.com/preview/google (MOVED TO STYLE.CSS)
      d. Prevent adjustments of font size after orientation changes in
         IE on Windows Phone and in iOS.
      e. Force scrollbar in non-IE and Remove iOS text size adjust without
         disabling user zoom
------------------------------------------------------------------------------*/


/*   @media (min-width: 20.0000em) and (max-width: 49.938em) {
    :root {
      font-size: calc( 16px + (24 - 16) * ( (100vw - 320px) / ( 1140 - 320) ));
    }
  } */
/*   @media (min-width: 50em) {
    :root {
      font-size: 48px;
    }
  } */
/* :-moz-any(article, aside, nav, section) h1{
  font-size: 2em;
} */


/*------------------------------------------------------------------------------
  2. @SECTIONING ROOT

------------------------------------------------------------------------------*/

html,
body,
button,
p,
ol,
ul,
li,
fieldset,
legend,
input,
select,
textarea,
hr,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
html,
input,
label,
textarea {
  box-sizing: border-box
}

/*------------------------------------------------------------------------------
  3. @GROUPING CONTENT
    a. Add the correct box sizing in Firefox.
    b. Show the overflow in Edge and IE.
------------------------------------------------------------------------------*/
hr {
  box-sizing: content-box; /* a */
  height: 0; /* a */
  overflow: visible; /* b */
}
main:not(.main) {
  position: relative;
  margin: 0 auto;
}
ol,
ul {
  list-style:none;
  list-style-image:none;
  list-style-position: outside;
  margin-bottom: 10px
}
/*------------------------------------------------------------------------------
  4. @TEXT-LEVEL SEMANTICS
    a. Remove gaps in links underline in iOS 8+ and Safari 8+.
    b. Add the correct font weight in Chrome, Edge, and Safari.
    c. Add the correct font size in all browsers.
    d. Prevent `sub` and `sup` elements from affecting the line height in
       all browsers.
    e. The browser defaults for these utilize superscript- and subscript-specific
       vertical-align rules, ex unit (width of x character or 1/2 of 1 em) can be used
       for more granular control <https://webdesign.tutsplus.com/articles/7-css-units-you-might-not-know-about--cms-22573>
    f. Improves readability when focused and also mouse hovered in all browsers
       people.opera.com/patrickl/experiments/keyboard/test
    g. Disables double-tap gesture which avoids any click delay by the browser.
       Leaves scrolling and pinch-zoom up to the browser. Prevent default double
       tap in IE10+
------------------------------------------------------------------------------*/
a,
button,
input,
label,
select,
textarea,
[tabindex] { /* g */
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

a {
  -webkit-text-decoration-skip: none; /* a */
}

a:active,
a:hover {
  outline-width: 0;
  outline: 0; /* f */
}

::-moz-focus-inner {
 border:0;
 padding:0
}

a:active,
a:hover,
a:link,
a:visited {
  text-decoration: none;
}

abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
}
b,
strong {
  font-weight: bolder /* b */
}
small {
  font-size: 80% !important /* c */
}

sub,
sup {
  font-size: 75%;
  line-height: 0; /* d */
  position: relative;
  /* vertical-align: baseline; */

}

sub {
  bottom: .5ex; /* e */
}

sup {
  bottom: 1ex;
}
/*------------------------------------------------------------------------------
  5. @EMBEDDED CONTENT
------------------------------------------------------------------------------*/
a img {
  border:none;
}
img {
 /*  height: auto; */
  max-width:100%;
}
.svg {
  max-height: 100%;
}
/* svg:not(:root) {
  overflow: hidden;
} */


