@import url("_variables.css");
@import url("_lang.css");
@import url("_fontface.css");
@import url("_normalize.css");
@import url("_branding.css");
@import url("_grid.css");
@import url("_flexbox.css");
@import url("_wcag.css");
@import url("_helpers.css");
@import url("swiper.css");
@import url("sidebarjs.css");
@import url("_cards.css");
/* @import url("_forms.css");
  @import url("_progress.css");
*/
/**
* @UD CS&S CUSTOM CSS STYLES
*
* Defines all of the basic reset styles and custom UD styles for all IT CS&amp;S projects.
*
* The Table of contents follows w3c HTML Elements guidelines.
* @see          https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Grouping_content
*
* @project      UD Custom Forms CSS
* @version      1.0.1
* @author       Christopher Leonard - University of Delaware | IT CS&S
* @copyright    ©2017 University of Delaware
* @license      MIT License
*/
/*---------------------------------------------------------------------------------------
[Table of contents]
   1. @ROOT
   2. @SECTIONING ROOT
   3. @CONTENT SECTIONING
   4. @TEXT CONTENT
   5. @INLINE TEXT SEMANTICS
   6. @IMAGES AND MULTIMEDIA
   7. @EMBEDDED CONTENT
   8. @SCRIPTING
   9. @DEMARCATING EDITS
   10.@TABLE CONTENT
   6. @FORMS
   7. @TABLES
   8. @MEDIA QUERIES
---------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
  1. @ROOT
------------------------------------------------------------------------------*/
:root {
  font-size: 16px;
  --x-height-multiplier: 0;
  --baseline-multiplier: 0;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering:auto;
  line-height: 1.618;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  word-wrap: break-word;
  quotes: "“" "”";
  -webkit-text-size-adjust:100%; /* d */
  -ms-word-wrap: break-word; /* e */

  -webkit-transition-property: background-color, border-color, -webkit-box-shadow, color, opacity, text-shadow, -webkit-transform;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -webkit-transform;
  transition-duration: 0.2s;
  transition-timing-function: linear
}
html,
body {
  height: 100%;
}
p {
  /* Maximum width of 65characters */
 /*  max-width: 65ch; */
}
/*
https://css-tricks.com/snippets/css/fluid-typography/
 */
/* html {
  font-size: calc(11.3333px + 0.533333vw);
}
 html {
  font-size: 14px
}

@media screen and (min-width: 500px) {
  html {
    font-size: calc( 14px + 8 * ((100vw - 500px) / 1500))
  }
}

@media screen and (min-width: 2000px) {
    html {
        font-size: 22px
    }
} */

/*------------------------------------------------------------------------------
  2. @SECTIONING ROOT
------------------------------------------------------------------------------*/
body {
  font-family: var(--font-reg);
  -webkit-font-feature-settings:"liga" 1, "kern" 1;
  font-feature-settings:"liga" 1, "kern" 1;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  font-synthesis: none;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  letter-spacing: 0;
  border: 0 none;
  font-weight: 400;
  font-style:normal;
  direction:ltr;
  text-align:left
  /* font-size:  calc(0.4878vw + 14.439px); */
/*   font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
/* font-size: calc(16px + (20px - 16px * ((100vw - 320px / 650px - 320px)))); */


}

/*------------------------------------------------------------------------------
  3. @CONTENT SECTIONING
------------------------------------------------------------------------------*/
/*
https://medium.com/@jakobud/css-polyfluidsizing-using-calc-vw-breakpoints-and-linear-equations-8e15505d21ab
 */
h1,
h2,
h3,
h4 {
  font-family:  var(--font-bold);
}
h1 {
  color: var(--near-black);
}
h1.headline{
  font-family: var(--font-disp-reg);
  font-weight: 600;
/*   line-height: .4;
  letter-spacing:var(--letter-spacing-tight); */
  color: var(--link-blue);
}
h2.subheadline {
  font-family: var(--font-disp-reg);
  /* font-size: 2.027145944rem; */
  letter-spacing:var(--letter-spacing-tight);
  color: var(--link-hi-blue);
}
h2,
h3,
h4 {
  color: hsl(211, 100%, 23%);
}
/** FLUID MODULAR SCALE HEADINGS
     https://codepen.io/MadeByMike/pen/VvwqvW
*/
.ud-grid--wrapper h1 {
  font-size: 2.44140625rem;
}
@media screen and (min-width: 37.5rem) {
  .ud-grid--wrapper h1 {
    font-size: calc(3.6615955643vw + 1.0683079134rem);
  }
}
@media screen and (min-width: 80rem) {
  .ud-grid--wrapper h1 {
    font-size: 3.9975843648rem;
  }
}
.ud-grid--wrapper h2 {
  font-size: 1.953125rem;
}
@media screen and (min-width: 37.5rem) {
  .ud-grid--wrapper h2 {
    font-size: calc(2.0565198682vw + 1.1819300494rem);
  }
}
@media screen and (min-width: 80rem) {
  .ud-grid--wrapper h2 {
    font-size: 2.027145944rem;
  }
}
.ud-grid--wrapper h3 {
  font-size: 1.5625rem;
}
@media screen and (min-width: 37.5rem) {
  .ud-grid--wrapper h3 {
    font-size: calc(1.0279905882vw + 1.1770035294rem);
  }
}
@media screen and (min-width: 80rem) {
  .ud-grid--wrapper h3 {
    font-size: 1.999396rem;
  }
}
.ud-grid--wrapper h4 {
  font-size: 1.25rem;
}
@media screen and (min-width: 37.5rem) {
  .ud-grid--wrapper h4 {
    font-size: calc(0.3858823529vw + 1.1052941176rem);
  }
}
@media screen and (min-width: 80rem) {
  .ud-grid--wrapper h4 {
    font-size: 1.414rem;
  }
}
.ud-grid--wrapper h5 {
  font-size: 1rem;
}
@media screen and (min-width: 37.5rem) {
  .ud-grid--wrapper h5 {
    font-size: calc(0vw + 1rem);
  }
}
@media screen and (min-width: 80rem) {
  .ud-grid--wrapper h5 {
    font-size: 1rem;
  }
}
.ud-grid--wrapper h6 {
  font-size: 0.8rem;
}
@media screen and (min-width: 37.5rem) {
  .ud-grid--wrapper h6 {
    font-size: calc(-0.2183209918vw + 0.8818703719rem);
  }
}
@media screen and (min-width: 80rem) {
  .ud-grid--wrapper h6 {
    font-size: 0.7072135785rem;
  }
}


h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0.5rem 0;
  line-height: 1.5;
}
/* body {
  font-size: calc(18px + 0.25vw)
}
h1 {

    font-size: 2em;
    margin: .67em 0;
}
h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin-block-start: .67em;
  margin-block-end: .67em;
}

h2,
:-moz-any(article, aside, nav, section)
h1 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-block-start: .83em;
  margin-block-end: .83em;
}

h3,
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
h1 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

h4,
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
h1 {
  display: block;
  font-size: 1.00em;
  font-weight: bold;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
}

h5,
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
h1 {
  display: block;
  font-size: 0.83em;
  font-weight: bold;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
}

h6,
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
h1 {
  display: block;
  font-size: 0.67em;
  font-weight: bold;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
}

h1 {
  font-size: calc(26px + 1.6vw);
  margin: 0;
}
h2{
  font-size: calc(22px + 1.6vw)
}
h3{
  font-size: calc(24px + .25vw);
  margin: 2em 0 .75em;
}
h2{
  font-size: calc(22px + 1.6vw)
} */




/* @media (min-width: 576px) {
  h1 {
    font-size: calc(6.25vw - 4px);
    line-height: calc(-0.0177552083vw + 1.22727);
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: calc(5.3571428571vw + 2.8571428571px);
    line-height: calc(-0.0086964286vw + 1.1576985714);
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 5.105em;
       line-height: 0.928;
  }
} */



/*------------------------------------------------------------------------------
  4. @TEXT CONTENT
------------------------------------------------------------------------------*/
.hero svg {
  width: 100%;
  height: 3vw;
  position: absolute;
  bottom: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  left: 0 !important;
  /* set height to pixels if you want angle to change with screen width */
}
.hero div: first-child{
  height: calc(100% - 6vw);
  padding: 0 2.186%;
}
.ud-card--container {
/*   display: -webkit-flex;
  display: flex; */
  /* justify-content: center;
  -webkit-align-items: center;
  align-items: center; */
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1140px;
  padding-top: 2rem;
  padding-right: 1.75rem;
  padding-bottom: 2rem;
  padding-left: 1.75rem;
  margin:  0 auto;
}
.ud-content--container {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  max-width: 1140px;
  padding-top: 0;
  padding-right: 1.75rem;
  padding-bottom: 0;
  padding-left: 1.75rem;

}
@media (max-width: 700px) {
/*  .ud-card--container {
  margin:0;
  padding:0;
 } */
}

/*------------------------------------------------------------------------------
  5. @INLINE TEXT SEMANTICS
------------------------------------------------------------------------------*/
/*  a:link {color:var(--linkfg); background-color:var(--linkbg);}
 a:visited {color:var(--linkfg); background-color:var(--linkbg);}
 a:hover {color:var(--linkbg); background-color:var(--linkfg);}
 a:active {color:var(--linkbg); background-color:var(--linkfg);} */

a {
  color: var(--ud-link);
/*   -webkit-transition: color .12s ease-in-out;
  transition: color .12s ease-in-out; */
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-bottom: 1px dotted var(--ud-link);
  text-decoration: none;
}
a:hover,
a:hover:visited {
  background-color:  var(--ud-link);
  color: var(--white);
  border-bottom: 1px dotted transparent;
}
a:visited {
  color: #2B689C;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  /* outline:3px solid #c1e0fe;
 outline:3px solid rgba(131,192,253,0.5);
 outline-offset:1px */
}
:focus[data-focus-method="mouse"]:not(input):not(textarea):not(select),
:focus[data-focus-method="touch"]:not(input):not(textarea):not(select) {
  outline:none
}
abbr[title] {
  border-bottom: 1px dotted var(--ud-blue-539)
}

label + small {
  margin-top: -20px !important;
  display: inline-block;
}
label + sup {
  display: inline-block;
}
sup {
  color: var(--ud-form--red);
}
.fill--orange{
  fill:var(--orange);
}
/*------------------------------------------------------------------------------
  6. @IMAGES AND MULTIMEDIA
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
  7. @EMBEDDED CONTENT
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
  6. @FORMS
------------------------------------------------------------------------------*/
a {
  -webkit-tap-highlight-color:transparent
}

/* .fill--current {
  fill: currentColor;
}
.fill--white {
  fill: hsl(0, 0%, 100%);
}
.fill--dkgrey {
  fill: hsl(0, 0%, 46%);
}
.fill--ltblue {
  fill: hsl(202, 66%, 51%);
}
.fill--mdblue {
  fill:  hsl(209, 68%, 41%);
}
.fill--mdblue2 {
  fill:   hsl(220, 88%, 32%);
}

.fill--social {
  fill:   hsl(200, 100%, 30%);
} */

/* .icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 1.75rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
} */

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-icon-email-svg {
  width: 1.400390625em;
}

.icon-icon-phone-svg {
  width: 1.001953125em;
}

.icon-icon-user-svg {
  width: 1.0947265625em;
}

.icon-icon-calendar-svg {
  width: 1.0185546875em;
}
/*
https://fvsch.com/code/svg-icons/how-to/#section-adding
 */
.icon-tw,
.icon-fb,
.icon-in,
.icon-yt,
.icon-pi,
.icon-li {
  /* Inherit the text’s size too. Also allows sizing
      the icon by changing its font-size. */
   width: 1em;
   height: 1em;

   /* Nice visual alignment for icons alongside text.
      (I got a few questions about this and: with most
      fonts and styles, this works better than just
      vertical-align:middle. Try it and see what you
      like best. */
   vertical-align: -0.15em;

   /* Paths and strokes that overflow the viewBox can
      show in IE. If you use normalize.css, it already
      sets this. */
   overflow: hidden;
}







.toggle-content {
  display: none;
}

.toggle-content.is-visible {
  display: block;
}

article {
  display: -webkit-flex;
  display: flex;
}

@media screen and (max-width: 699px) {
  article {
    display: inline-block;
  }
}
