.mobile h1.headline{
  font-family: var(--font-reg);
  font-weight: 600;
  color: var(--nearblack);
}
/* Webkit / Chrome Specific CSS to remove tap
highlight color */
.button {
  -webkit-tap-highlight-color: transparent;
}
/* Firefox Specific CSS to remove button
differences and focus ring */
.button {
  background-image: none;
}

.button::-moz-focus-inner {
  border: 0;
}
/*
The touch-action property is set to none to prevent the browser from applying its default touch behavior to the application.
 */
.lookmore {
  -ms-touch-action: none;
        /* // [START touch-action-example] */
        /* Pass all touches to javascript */
        touch-action: none;
        /* // [END touch-action-example] */
}
