/*---------------------------------------------------------------------------------------
  1. @COLOR CODES
  BODY______________________________________________
    background                  #FFFFFF    hsl(0, 0%, 100%)
    text                        #2A2A2A    hsl(0, 0%, 16%)
  HEADINGS___________________________________________
    h1:                         #111111    hsl(0, 0%, 7%)
    h2:                         #003976    hsl(211, 100%, 23%);
    h3:                         #003976    hsl(211, 100%, 23%);
    h4:                         #003976    hsl(211, 100%, 23%);
  NAVIGATION__________________________________________
    Menu:
      background:               #00539F    hsl(207, 100%, 30%)
      text:                      #FFFFFF    hsl(0, 0%, 100%)
  LINKS_______________________________________________
  a href:
    standard                    #23527C    hsl(208, 56%, 33%);
    visited                     #2B689C
    (X) focus                  #23527C    hsl(208, 56%, 33%);
    hover                       #1A3D5B    hsl(208, 56%, 23%)
    border-bottom               #23527C   hsl(208, 56%, 33%)
  FORMS______________________________________________
  label:                      #4C4C4C
  text:                       #4C4C4C
  Fieldset:
    background                #FAFAFA
    border                    #AAA
  Fieldset Fieldset:
    background                #F7F7F7
    border                    #AAA
  Fieldset Legend:
    background                #23527C    hsl(208, 56%, 33%)
    border                    #255783
    color                     #FFF
  Fieldset Fieldset Legend:   #FFF
  Required:                   #B11030    hsl(348, 83%, 38%)
  Error:                      #B11030    hsl(348, 83%, 38%)
  BUTTONS_______________________________________
    border                      #00A0DF
    text                        #00A0DF
    background                  #FFF
    :link
    :focus
    :hover
    :active
    :visited

  BRANDING _____________________________________
    header background:        #0048A5    hsl(89, 61%, 35%);
    footer social icons:       #007BB4    hsl(199, 100%, 35%)
    footer circle UD logo:     #206AAD    hsl(199, 100%, 35%)
    footer legal links:        #2F6FA7     hsl(208, 56%, 42%)
    footer legal text:         #111111    hsl(0, 0%, 7%)

Display fonts: text > 19px


--black: hsl(0, 0%, 0%)           #000
--near-black: hsl(0, 0%, 7%)      #111
--dark-gray:hsl(0, 0%, 20%)      #333
--mid-gray:hsl(0, 0%, 33%)      #555
--gray: hsl(0, 0%, 47%)         #777
--silver: hsl(0, 0%, 60%)        #999
--light-silver: hsl(0, 0%, 67%)        #AAA
--moon-gray: hsl(0, 0%, 67%)        #CCC
--light-gray: hsl(0, 0%, 93%)       #EEE
--near-white: hsl(0, 0%, 96%)  #f4f4f4
--white: hsl(0, 0%, 100%)
------------------------------------------------------------------------------*/
:root {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Helvetica Neue", sans-serif; /* a */

/**
 * Put "Noto Sans" before "Noto Sans CJK". Currently, the Latin characters in the CJK fonts are from Adobe’s Source Sans Pro
It is recommended to use "Noto Sans CJK {JP, KR, SC, TC}" rather than "Noto Sans {JP, KR, SC, TC}", unless space/latency is very restricted.

For iOS, use text size that’s at least 11 points, while for Android, choose 14 sp for main text.
 */
/*   --font-serif: georgia, serif; */
  --font-reg: "Noto Sans";
  --font-bold: "Noto Sans Bold";
  --font-title-reg: "Montserrat";
  --font-title-semibold: "Montserrat Semibold";
  --font-disp-reg: "Noto Sans Disp";
  --font-disp-semibold: "Noto Sans Disp SemBd";
  --font-size-headline: 6rem;
  --font-size-subheadline: 3rem;
  --font-size-body: 16px;
  --font-color: darkblue;
  --font-root: "Noto Sans", "SF Pro", "Droid Sans", Arial, sans-serif;
/*   */

  /* links */
  --ud-link:  hsl(208, 56%, 33%);
  --ud-link-active: ;
  --ud-link-focus: hsl(208,57%,39%);
  --ud-link-hover: ;

  --letter-spacing-tight:-.015em;
  --letter-spacing-1:.1em;
  --letter-spacing-2:.25em;

  --line-height-solid: 1;
  --line-height-title: 1.25;
  --line-height-copy: 1.5;


  --ud-text--uppercase: uppercase;


  /* --border-width-none: 0;
  --border-width-1: .125rem;
  --border-width-2: .25rem;
  --border-width-3: .5rem;
  --border-width-4: 1rem;
  --border-width-5: 2rem; */

/* box-shadow https://codepen.io/pixelasticity/pen/WrrWmV */
--box-shadow-2dp: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
--box-shadow-3dp: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
--box-shadow-4dp: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
--box-shadow-6dp: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
--box-shadow-8dp: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
--box-shadow-16dp:  0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);

 /* colors */
  --ud-current-color:currentColor;
 --ud-yellow: hsl(50, 100%, 50%);
 --ud-ltblue: hsl(203, 100%, 33%);
 --ud-blue-539:  hsl(207, 100%, 30%);
 --ud-form--red: hsl(348, 83%, 38%);

 --black: hsl(0, 0%, 0%);
 --near-black: hsl(0, 0%, 7%);
 --dark-gray:hsl(0, 0%, 20%);
 --mid-gray:hsl(0, 0%, 33%);
 --gray: hsl(0, 0%, 47%);
 --silver: hsl(0, 0%, 60%);
 --light-silver: hsl(0, 0%, 67%);
 --moon-gray: hsl(0, 0%, 87%);
 --light-gray: hsl(0, 0%, 93%);
 --near-white: hsl(0, 0%, 96%);
 --white: hsl(0, 0%, 100%);
 --link-blue:  hsl(208, 56%, 33%);
 --link-hi-blue:  hsl(208, 56%, 53%);
 --orange: hsl(33, 100%, 62%);
  --transparent:transparent;

  /* alignment */
  --space-around:  space-around;
  --space-between: space-between;
  --center: center;
  --left:  left;
  --right:  right;

  /* border-radius */
  --border-radius-all: .250rem;
  --border-radius-tl-tr: .250rem .250rem 0 0;
  --border-radius-bl-br: 0 0 .250rem .250rem;

  /* sizes */
  --size-1: .500rem;
  --size-2: .750rem;
  --size-3: .875rem;
  --size-root: 1rem;
  --size-root-1: 1.25rem;
  --size-root-2: 1.5rem;
  --size-root-3: 1.75rem;
  --size-root-4: 2rem;

  /* transitions */
  --transition-cubic-bezier: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  --transform-translateZ-0: translateZ(0); /* IE 11 - all Edge will-change hack */
}


.ud-text--display {
  --font-sans-display:  'noto_sans_dispregular';
}
