/*---------------------------------------------------------------
  $IE BASED CSS

  Defines all of the CSS styles / fixes for
  Internet Explorer 11 and Edge.

  @version 1.0.1
    1. @IE11 HACKS
      a. Hide native select list button in IE11
    2. @EDGE HACKS
---------------------------------------------------------------*/
/*---------------------------------------------------------------
  1. @IE11 HACKS
      a. Hide native select list button in IE11
      b. Show the overflow in IE, Edge.
      c. Correct the text wrapping in Edge and IE.
      d. Correct the color inheritance from `fieldset` elements in IE.
      e. Remove the default vertical scrollbar in IE.
      f. Support for IE.
      g. Show the overflow in Edge and IE.
      h. disable ALL viewport zooming for a webpage accessed via IE11 on WinRT
         https://stackoverflow.com/questions/23757403/disable-all-page-zooming-in-ie11-on-windows8-arm
      i. IE 11 uses old css grid syntax
      j. IE 11 doesn't support <main>. Define main as a block-level element.
      k. IE 11 shows horz. scrollbar when using 100vw.
---------------------------------------------------------------*/
html { /* h */
  -ms-content-zooming: none; /* Disables zooming */
  touch-action: none;   /* Disable any special actions on tap/touch */
}
select::-ms-expand {
  display: none /* a */
}
select {
  padding-right: 1em !important;
}
button,
input { /* c */
  overflow: visible;
}
legend {
  box-sizing: border-box; /* c */
  color: #4680DC; /* d  inherit for IE */
  display: table; /* c */
  max-width: 100%; /* c */
  white-space: normal; /* c */
}
textarea {
  overflow: auto; /* e */
}
.material-icons,
[data-icon-after]::after {
   -webkit-font-feature-settings: 'liga'; /* f */
  font-feature-settings: 'liga';
}
hr {
  overflow: visible; /* g */
}
@-ms-viewport {
  width: device-width;
}
main {
  display: block;  /* j */
  width: 100%;
}
.ud-grid--wrapper {
  display: -ms-grid;
/*
 below is used with menu / help, hero, main, boxes 1-3 grid layout
 -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 50px auto auto auto;
*/
-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  width: 100%; /* k */
}

/*
 below is used with menu / help, hero, main, boxes 1-3 grid layout
.menu {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column-span: 3;
}
.help {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
-ms-grid-row-span: 1;
  -ms-grid-column-span: 6;
}
.hero {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column-span: 6;
}
.main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column-span: 6;
}
.box1 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column-span: 2;
}
.box2 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column-span: 4;
}
.box3 {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column-span: 6;
}
*/
.hero {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column-span: 6;
}
.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column-span: 6;
}
.box1 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column-span: 2;
}
.box2 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column-span: 4;
}
.box3 {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column-span: 6;
}
#udit-form {
  display: -ms-grid;
  -ms-grid-columns: 1fr;
  -ms-grid-rows:  auto;
}
/** BRANDING HACKS
    a. When using align-items: center on a flex container in the column direction, the contents of flex item, if too
    big, will overflow their container in IE 10-11.
    https://github.com/philipwalton/flexbugs#2-column-flex-items-set-to-align-itemscenter-overflow-their-container
    b. auto needed by IE 11
*/
.ud-norm--header > *,
.ud-norm--footer > *,
.ud-ft--left > *,
.ud-ft--right > *,
section > * {
  box-sizing: border-box; /* a */
  max-width: 100%
}
.ud-ft--left, .ud-ft--right {
  -ms-flex-basis: 50%; /* b */
  flex-basis: 50%;
}
[role="banner"] a {
  display: -ms-inline-grid;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
}
