<footer class="ud-flex ud-flex--jcc ud-flex--acc ud-flex--ffrw ud-norm--footer" role="contentinfo" itemscope itemtype="https://schema.org/WPFooter">
  <div class="ud-content--container" style="background-color:lightgreen">
    <div class="ud-ft--dare ud-flex ud-flex--fbhalf ud-flex--jcfs ud-flex--acc">
      <a href="https://www.udel.edu">
        <img class="ud-flex--asc" src="https://www1.udel.edu/chris/!projects/ITHF/itdev/assets/img/logos/img-ud-circle-logo.svg" alt="University of Delaware home page." id="ud-circle--logo" role="img" width="130" height="130">
      </a>
      <img src="https://www1.udel.edu/chris/!projects/ITHF/itdev/assets/img/logos/img-ud-dare.svg" alt="Dare to be first. Make the UD brand story your own." id="ud-dare--logo" role="img" width="170" height="22">
    </div>
    <div class="ud-ft--soc ud-flex ud-flex--fbhalf ud-flex--jcfe ud-flex--acc">
      <ul>
        <li>
          <a href="https://twitter.com/UDelaware" class="ud-icon twitter" aria-label="Go to the UD Twitter page. (external link)">
            <svg class="icon ud-icon-twitter">
              <use xlink:href="https://www1.udel.edu/chris/!projects/ITHF/itdev/assets/img/ud-ft-symbol-defs.svg#ud-icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/udelaware" class="ud-icon facebook" aria-label="Go to the UD Facebook page. (external link)">
            <svg class="icon ud-icon-facebook">
              <use xlink:href="https://www1.udel.edu/chris/!projects/ITHF/itdev/assets/img/ud-ft-symbol-defs.svg#ud-icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/udelaware" class="ud-icon instagram" aria-label="Go to the UD Instagram page. (external link)">
            <svg class="icon ud-icon-instagram">
              <use xlink:href="https://www1.udel.edu/chris/!projects/ITHF/itdev/assets/img/ud-ft-symbol-defs.svg#ud-icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/udelaware/" class="ud-icon youtube" aria-label="Go to the UD Youtube channel. (external link)">
            <svg class="icon ud-icon-youtube">
              <use xlink:href="https://www1.udel.edu/chris/!projects/ITHF/itdev/assets/img/ud-ft-symbol-defs.svg#ud-icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.pinterest.com/udelaware/" class="ud-icon pinterest" aria-label="Go to the UD Pinterest page. (external link)">
            <svg class="icon ud-icon-pinterest">
              <use xlink:href="https://www1.udel.edu/chris/!projects/ITHF/itdev/assets/img/ud-ft-symbol-defs.svg#ud-icon-pinterest"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/edu/school?id=18070" class="ud-icon linkedin" aria-label="Go to the UD Linkedin page. (external link)">
            <svg class="icon ud-icon-linkedin">
              <use xlink:href="https://www1.udel.edu/chris/!projects/ITHF/itdev/assets/img/ud-ft-symbol-defs.svg#ud-icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="ud-ft--leg ud-flex ud-flex--fbfull ud-flex--ffcw ud-flex--jcc">
    <ul>
      <li>©<!--#config timefmt="%Y" --><!--#echo var="DATE_LOCAL" --> University of Delaware</li>
      <li><a href="https://www.udel.edu/home/comments">Comments</a></li>
      <li><a href="https://www.udel.edu/home/legal-notices">Legal Notices</a></li>
      <li><a href="https://www.udel.edu/home/legal-notices/accessibility/">Accessibility</a></li>
    </ul>
  </div>
</footer>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@id": "https://www.udel.edu/#educationalorganization",
    "@type": "EducationalOrganization",
    "name": "University of Delaware",
    "url": "https://www1.udel.edu/",
    "logo": "https://www1.udel.edu/chris/!projects/ITHF/itdev/assets/img/logos/knowledge_graph_logo_ud.png",

    "sameAs": [
      "https://www.pinterest.com/udelaware/",
      "https://www.youtube.com/univdelaware",
      "https://www.linkedin.com/edu/school?id=18070",
      "https://www.facebook.com/udelaware",
      "https://www.twitter.com/UDelaware",
      "https://www.instagram.com/udelaware"
    ]
  }
</script>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@id": "https://www.udel.edu/#website",
    "@type": "WebSite",
    "url": "https://www.udel.edu/",
    "name": "Apple",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://www.udel.edu/us/search/{search_term_string}?src=mc_google",
      "query-input": "required name=search_term_string"
    }
  }
</script>

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@id": "https://www.udel.edu/#webpage",
    "@type": "WebPage",
    "url": "https://www.udel.edu/",
    "name": "University of Delaware"
  }
</script>
