<meta charset="utf-8">
<!-- https://github.com/mdn/html-examples  LOOK AT FOR PRELOAD
For body bkgd's using img or gradient, add meta viewport-fit=cover fix for
"The Notch" in iOS 11-iOS 11.2.
For solid color body bkgd's add background-color: in CSS
-->
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta name="robots" content="INDEX,NOFOLLOW">

<!--#if  expr="-z reqenv('IS_IE11')" -->
<meta name="msapplication-tap-highlight" content="no">
<meta name="msapplication-config" content="/chris/!projects/ITHF/itdev/assets/browserconfig.xml">
<meta name="theme-color" content="#FFFFFF">
<!--#endif -->

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@udeltistatus">
<meta name="twitter:creator" content="@udeltistatus">
<meta name="twitter:url" content="https://twitter.com/udelitstatus">
<meta name="twitter:title" content="UDel IT System Status">
<meta name="twitter:description" content="Twitter feed for posting #UDel system status to University of Delaware Information Technologies home page.">
<meta name="twitter:image" content="https://pbs.twimg.com/profile_images/626795655508439040/B6mARysN_400x400.jpg">
 <!-- https://medium.com/dev-channel/how-to-add-a-web-app-manifest-and-mobile-proof-your-site-450e6e485638
See https://developers.google.com/web/fundamentals/primers/service-workers/ for
caching website offline
  -->
<link rel="manifest" href="/chris/!projects/ITHF/itdev/assets/manifest.json">
<!-- manifest polyfill https://github.com/GoogleChromeLabs/pwacompat -->
<!-- <script type="text/javascript" src="https://cdn.rawgit.com/GoogleChrome/pwacompat/v1.0.3/pwacompat.min.js"></script> -->
  <!-- iOS -->
  <link rel="mask-icon" href="/chris/!projects/ITHF/itdev/assets/ud-logo.svg" color="#006CAE">
  <link rel="apple-touch-icon" href="/chris/!projects/ITHF/itdev/assets/img/touch/apple-touch-icon.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="University of Delaware IT Client Services &amp; Support">

<!-- google -->
<link rel="icon" type="image/png" sizes="32x32" href="/chris/!projects/ITHF/itdev/assets/img/touch/favicon-32x32.png">
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="University of Delaware Department Forms">

 <link href="/chris/!projects/ITHF/itdev/assets/css/_style.css" rel="stylesheet" type="text/css" media="screen">
<!--   <link href="/chris/!projects/ITHF/itdev/assets/css/udit_navigation.css" rel="stylesheet" type="text/css" media="screen"> -->
<style>
/*
https://fvsch.com/code/svg-icons/how-to/#section-adding
Recent browsers size the <svg> element at 300 by 150 pixels by default. Other browsers might give it a gigantic 100% width!
 */
.icon-tw,
.icon-fb,
.icon-in,
.icon-yt,
.icon-pi,
.icon-li{width:1em;height:1em}</style>
  <script>
  /**
    * JAVASCRIPT FEATURE DETECTION
    * Checks for IE11 and Edge browsers
    * IntersectionObserver detection for Edge version >= 15
    * @return   mixed
  */
  // (function detectIE() {
  //   var isIE = ( /*@cc_on!@*/false ) || ( document.documentMode );
  //   var isEdge = ( !isIE ) && ( !!window.StyleMedia ) && ( window.IntersectionObserver );
  //   if ( ( isIE ) || ( isEdge ) ) {
  //     var head = document.head
  //     , link = document.createElement('link')
  //     link.type = 'text/css'
  //     link.rel = 'stylesheet'
  //     link.href = '/chris/!projects/ITHF/itdev/assets/css/ie.css'
  //     head.appendChild( link )
  //   }
  //   else return false;
  // })();

(function detectIE() {
  var isIE = ( /*@cc_on!@*/false ) || ( document.documentMode );
  var isEdge = ( !isIE ) && ( !!window.StyleMedia ) && ( window.IntersectionObserver );
  var isMS = [isIE, isEdge];

/**
   *  Instead of appending the elements directly to the document when they are
   *  created, append them to the DocumentFragment instead, and finish by adding
   *  that to the DOM.
   *  Now there's only one (big) DOM change happening, and because of that we're
   *  also keeping the recalculation, painting and layout to an absolute minimum.
   *
   *  @see https://coderwall.com/p/o9ws2g/why-you-should-always-append-dom-elements-using-documentfragments
   */
    var el;
    var i = 0;
    var fragment = document.createDocumentFragment();
    var polyIE = ["_core.js.shim.min", "_classList-polyfill", "svgxuse.min"];
    var arrayLength = polyIE.length;
//var msBrowser = navigator.appName == 'Microsoft Internet Explorer' ||
//     ( navigator.appName == "Netscape" && navigator.appVersion.indexOf( 'Edge' ) > -1 ) ||
//     ( navigator.appName == "Netscape" && navigator.appVersion.indexOf( 'Trident' ) > -1 );
  try {
    //ie = navigator.userAgent.match( /(MSIE |Trident.*rv[ :])([0-9]+)/ )[ 2 ];
    isIE;
  }
  catch( err ){
    console.log( 'Copy and paste this text in trouble ticket: ' + err );
  }

  if ( isMS ) {
    var head = document.head
      , link = document.createElement('link')
      link.type = 'text/css'
      link.rel = 'stylesheet'
      link.href = '/chris/!projects/ITHF/itdev/assets/css/ie.css'
      head.appendChild( link )
  }
  else return false;

  if ( isIE ) {
    while ( i < arrayLength ) {
      el = document.createElement( 'script' );
      el.async = true
      el.defer = true
      el.src = '/chris/!projects/ITHF/itdev/assets/js/' + polyIE[i] + '.js';
        fragment.appendChild( el );
    i++; }
  }
  else return false;
  if ( !isIE ) {
    var jsPromise = document.createElement('script')
        jsPromise.async = true
        jsPromise.src = '/chris/!projects/ITHF/itdev/assets/js/_loader.js'
        fragment.appendChild( jsPromise );
  }
  else return false;
})();




// function fetchJSON(url) {
//   return new Promise((resolve, reject) => {
//     console.log('fetching from afar');
//     fetch(url)
//       .then(resp => resp.json()
//         .then(json => resolve(json)))
//       .catch(reason => reject(reason));
//   });
// }

// let cache = {};

// function cachingFetchJSON(url) {
//   if (!cache.hasOwnProperty(url))
//     cache[url] = fetchJSON(url);
//   else
//     console.log('fetching from cache');
//   return cache[url];
// }

// for (let i = 0; i < arrayLength; ++i) {
//   cachingFetchJSON('/chris/!projects/ITHF/itdev/assets/js/' + polyIE[i] + '.min.js')
//     .then(val => console.log(val))
//     .catch(c => console.error('caught', c));
// }


/*
https://scotch.io/tutorials/javascript-promises-for-dummies
ES5
*/


var load = (function() {
  // Function which returns a function: https://davidwalsh.name/javascript-functions
  function _load(tag) {
    return function(url) {
      // This promise will be used by Promise.all to determine success or failure
      return new Promise(function(resolve, reject) {
        var element = document.createElement(tag);
        var parent = 'body';
        var attr = 'src';

        // Important success and error for the promise
        element.onload = function() {
          resolve(url);
        };
        element.onerror = function() {
          reject(url);
        };

        // Need to set different attributes depending on tag type
        switch(tag) {
          case 'script':
            element.async = true;
            element.type = 'text/javascript';
            attr = 'src';
            parent = 'head';
            break;
          case 'link':
            element.type = 'text/css';
            element.rel = 'stylesheet';
            attr = 'href';
            parent = 'head';
        }

        // Inject into document to kick off loading
        element[attr] = url;
        document[parent].appendChild(element);
      });
    };
  }

  return {
    css: _load('link'),
    js: _load('script')
  }
})();

// Usage:  Load different file types with one callback
Promise.all([
  load.js('/chris/!projects/ITHF/itdev/assets/js/_loader.js'),
  // load.js('lib/main.js'),
  load.css('/chris/!projects/ITHF/itdev/assets/css/_style.css')
])
.then(function() {
  console.log('Everything has loaded!');
})
.catch(function() {
  console.log('Oh no, epic failure!');
});

// ES 5 converted
// 'use strict';

// function fetchJSON(url) {
//   return new Promise(function (resolve, reject) {
//     console.log('fetching from afar');
//     fetch(url).then(function (resp) {
//       return resp.json().then(function (json) {
//         return resolve(json);
//       });
//     }).catch(function (reason) {
//       return reject(reason);
//     });
//   });
// }

// var cache = {};

// function cachingFetchJSON(url) {
//   if (!cache.hasOwnProperty(url)) cache[url] = fetchJSON(url);else console.log('fetching from cache');
//   return cache[url];
// }

// for (var i = 0; i < 5; ++i) {
//   cachingFetchJSON("//jsonplaceholder.typicode.com/albums/" + (Math.floor(Math.random() * 4) + 1)).then(function (val) {
//     return console.log(val);
//   }).catch(function (c) {
//     return console.error('caught', c);
//   });
// }

// var documentModeSupported = false;
// try {
//   var options = Object.defineProperty({}, "documentmode", {
//     get: function() {
//       documentModeSupported = true;
//       var head = document.head
//      , link = document.createElement('script')
//      link.type = 'text/javascript'
//      link.rel = 'stylesheet'
//      link.href = '"https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.min.js" defer async'
//      head.appendChild( link )
//     }
//   });

//   window.addEventListener("test", null, options);
// } catch(err) {}
/**
 * PROMISES FEATURE DETECTION
 */
// if(typeof Promise !== "undefined" && Promise.toString().indexOf("[native code]") !== -1) {
//     Your browser is unsuspecting, paste your polyfill or library here.
// }

/**
   * JAVASCRIPT FEATURE DETECTION I
   * Checks for IE11 and Edge browsers
   * @return   mixed
 */
// function requiredFeaturesSupported() {
//   return ( MSDefaultsConstructor() && MSIEConstructor() );
// }

// function MSDefaultsConstructor() {
//   var msBrowser = navigator.appName == 'Microsoft Internet Explorer' ||
//     ( navigator.appName == "Netscape" && navigator.appVersion.indexOf( 'Edge' ) > -1 ) ||
//     ( navigator.appName == "Netscape" && navigator.appVersion.indexOf( 'Trident' ) > -1 );

//   if ( msBrowser ) {
//     var head = document.head
//     , link = document.createElement('link')
//     link.type = 'text/css'
//     link.rel = 'stylesheet'
//     link.href = '/chris/!projects/ITHF/itdev/assets/css/ie.css'
//     head.appendChild( link )
//     return true;
//   } // if
//   console.log("This is not an MS browser.");
//   return false;
// } // MSDefaultsConstructor

/*
  IE 11 FEATURE CHECK
  Checking for documentMode support which IE 11 doesn't support. Since we know
  what the browser is we can load the required polyfill.
 */
// function MSIEConstructor() {
//   if ( /*@cc_on!@*/false || !!document.documentMode ) { // IE 11 feature check
//     var scriptIE = document.createElement('script')
//     scriptIE.async = true
//     scriptIE.src = '/chris/!projects/ITHF/itdev/assets/js/_loader_ie.js'
//     target.appendChild( scriptIE )
//     return true;
//   } // if
//   console.log("This is not IE 11.");
//   return false;
// } // MSIEConstructor




/**
 * https://www.html5rocks.com/en/tutorials/speed/script-loading/
 */
// !function(e,t,r){function n(){for(;d[0]&&"loaded"==d[0][f];)c=d.shift(),c[o]=!i.parentNode.insertBefore(c,i)}for(var s,a,c,d=[],i=e.scripts[0],o="onreadystatechange",f="readyState";s=r.shift();)a=e.createElement(t),"async"in i?(a.async=!1,e.head.appendChild(a)):i[f]?(d.push(a),a[o]=n):e.write("<"+t+' src="'+s+'" defer></'+t+">"),a.src=s}(document,"script",[
//   "//other-domain.com/1.js",
//   "2.js"
// ])

/*
  Implement localStorage web font caching in seconds
  https://jaicab.com/localFont/
*/
 /* !function(){"use strict";function e(e,t,n){e.addEventListener?e.addEventListener(t,n,!1):e.attachEvent&&e.attachEvent("on"+t,n)}function t(e){return window.localStorage&&localStorage.font_css_cache&&localStorage.font_css_cache_file===e}function n(){if(window.localStorage&&window.XMLHttpRequest)if(t(o))c(localStorage.font_css_cache);else{var n=new XMLHttpRequest;n.open("GET",o,!0),e(n,"load",function(){4===n.readyState&&(c(n.responseText),localStorage.font_css_cache=n.responseText,localStorage.font_css_cache_file=o)}),n.send()}else{var a=document.createElement("link");a.href=o,a.rel="stylesheet",a.type="text/css",document.getElementsByTagName("head")[0].appendChild(a),document.cookie="font_css_cache"}}function c(e){var t=document.createElement("style");t.innerHTML=e,document.getElementsByTagName("head")[0].appendChild(t)}var o="/font.css";window.localStorage&&localStorage.font_css_cache||document.cookie.indexOf("font_css_cache")>-1?n():e(window,"load",n)}(); */


</script><!--<noscript><link rel="stylesheet" href="fonts/_fonts.css"></noscript>-->

