<header role="banner" class="item ud-norm--header ud-flex ud-flex--jcc ud-flex--acc">
  <a href="https://www1.udel.edu/">
    <img alt="Go to the University of Delaware home page." id="ud_primary_logo" src="/chris/!projects/ITHF/itdev/assets/img/logos/img-udlogo.svg" role="img" height="91">
  </a>
</header>
